/*
 * MOD_IC_EVENT_LIST
 * iCagenda by JoomliC
 * iCrounded css file for iCagenda event list module
 *
 * @layout		icrounded
 * @author		Lyr!C (JoomliC) - http://www.joomlic.com
 * @version		2.11 2014-04-20
 * @since		1.0
 */


/*
 * EVENT LIST STYLES
 */

#ic_eventlist {
	width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0.15% 0 0.10% 0.25%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}



/*  GRID OF COLUMNS  */
.col1 {
	margin: 2px 0 2px 0;
	width: 100%;
}
.col2 {
	width: 49.87%;
}
.col2:nth-child(3) {
	margin-left: 0;
}
.col3 {
	width: 33.16%;
}
.col3:nth-child(4) {
	margin-left: 0;
}
.col4 {
	width: 24.81%;
}
.col4:nth-child(5) {
	margin-left: 0;
}

/*  GO 3 COLS IF 4 SELECTED AT LESS THAN 767 PX AND MORE 481 PX */

@media (min-width: 481px) and (max-width: 767px) {
	.col1 {
		width: 100%;
	}
	.col2 {
		width: 49.87%;
	}
	.col3 {
		width: 33.16%;
	}
	.col4 {
		width: 33.16%;
	}
	.col4:nth-child(5) {
		margin-left: 0.25%;
	}
	.col4:nth-child(4) {
		margin-left: 0;
	}

}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 0.7% 0 0.7% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.col1 {
		width: 100%;
	}
	.col2 {
		width: 100%;
	}
	.col3 {
		width: 100%;
	}
	.col4 {
		width: 100%;
	}
}


/* Style Background alternative */
.icrounded_eventlist {
	background: #f7f7f7;
	background: rgba(247,247,247,0.9);
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
	transition: all 0.3s;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
/*	padding: 2px !important; */
	font-size: 13px;
}
.icrounded_eventlist:nth-child(2n+1) {
	background: #ededed;
	background: rgba(237,237,237,0.9);
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
	transition: all 0.3s;
}

/* Style Background hover */
.icrounded_eventlist:hover{
	background: #555;
	color: #FFF;
}

/* Style Content */
.icrounded_eventlist a {
	text-decoration: none;
}
.icrounded_eventlist a:link,
.icrounded_eventlist a:visited {
	color: #333;
	text-decoration: none;
}
.icrounded_eventlist a:hover {
	color: #FFF;
	text-decoration: none;
	cursor:pointer;
}

/* Style Div */
.icrounded_eventlist .eventDiv {
	padding: 2px 5px !important;
	margin-bottom: 0px;
	display:block;
}
.icrounded_eventlist .dateImgBox {
	float: left;
	width: auto;
}
.icrounded_eventlist .dateDiv {
	float: left;
	width: 26px;
	text-align: center;
	padding: 3px
}
.icrounded_eventlist .iCday {
	line-height:18px !important;
	font-size: 16px;
	font-weight: bold;
}
.icrounded_eventlist .iCmonth {
	line-height:12px !important;
	font-size: 12px;
	font-weight: normal;
}
.icrounded_eventlist .imageDiv {
	float: left;
	width: auto;
	margin-right: 3px;
	padding: 3px;
}
.icrounded_eventlist .imageDiv .evtImg {
	width: 36px;
	height: 36px;
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: cover;
}
.icrounded_eventlist .titleSpan {
	padding-top: 3px;
	line-height: 15px !important;
	font-size: 13px;
	font-weight: bold;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}
.icrounded_eventlist .cityDiv {
	line-height:16px !important;
	font-size: 13px;
	display: inline-block;
	max-width: 57%;
}
.icrounded_eventlist .datetimeDiv {
	display: inline-block;
	max-width: 57%;
	font-size: 11px;
}
.icrounded_eventlist .descSpan {
	font-size: 12px;
}
.icrounded_eventlist span.iCreg {
	font-size: 10px;
	margin: 0 2px;
	padding: 0 5px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #333;
	cursor: pointer;
}
.icrounded_eventlist span.iCreg.available {
	background: white;
	color: black;
}
.icrounded_eventlist span.iCreg.ticketsleft {
	background: green;
	color: white;
}
.icrounded_eventlist span.iCreg.registered {
	background: blue;
	color: white;
}

/* Option class Align Row (for module class suffix, set " listRow" with a space before) */
.icrounded_eventlist .listCol{display:table-cell; width:290px !important; margin: 15px !important;}

