.iCicon-backic {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25c0;');
}
.iCicon-backicY {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25c1;');
}
.iCicon-nextic {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25b6;');
}
.iCicon-nexticY {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25b7;');
}
.iCicon-earth {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe600;');
}
.iCicon-timezone {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe601;');
}
.iCicon-print {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe602;');
}
.iCicon-calendar-2 {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe603;');
}
.iCicon-calendar {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe604;');
}
.iCicon-location {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe605;');
}
.iCicon-iclogo {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe606;');
}
