div.content_wrapper h1
{
	border-bottom: 1px solid #BBBBBB;
	margin: 10px;
}

div.content form
{
	margin: 10px;
}

div.content form p
{
	margin-bottom: 10px;
	width: 300px;
}

div.content form p input
{
	width: 100%;
}

div.content form p input.submit
{
	width: 100px;
	float: right;
}

div.content form p textarea
{
	width: 296px;
	height: 200px;
}