div.content_wrapper h1
{
	border-bottom: 1px solid #BBBBBB;
	margin: 10px;
}

div.content form p
{
	width: 400px;
	margin-bottom: 7px;
}

div.content form p label
{
	float: left;
}

div.content form p input
{
	float: right;
}