body {
	background:#fff;
	color:#424242;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size:12px;
	padding:0;
	margin:0;
	height: 100%;
}

html, body {
    height: 100%;
}

p, fieldset, ul, h1, h2, h3 {
	border:0;
	margin:0;
	padding:0;
}

h1{
	font-size: 25px;
}

h2{
	font-size: 14px;
}

input{
	border: 1px solid #bdbdbd;
}

a img, img {
	border:0;
}
a {
	text-decoration:none;
	color:#424242;
}
a:hover{
	text-decoration:underline;
}

input, select{
	font-size:14px;
}
.display_none {
	display:none;
}
.clear {
	clear:both;
	float:none;
	display:block;
	width:100%;
	line-height:1px;
	height:1px;
}

div.header_wrapper
{
	width: 100%;
	height: 13%;
	position: fixed;
	background-color: #507aaa;
	color: white;
}

div.header_wrapper h1
{
	padding-left: 6px;
}

div.header_wrapper div.top_menu
{
	padding: 2px 2px 0 6px;
	background-color: #2C4056;
}

div.header_wrapper div.top_menu ul li
{
	list-style: none;
	display: block;
	float: left;
	margin-right: 7px;
}
div.header_wrapper div.top_menu a
{
	color: white;
	font-weight: bold;
}

div.left_menu
{
	top:13%;
	width: 10%;
	height: 100%;
	position: fixed;
}

div.content_wrapper
{
	border-left: 6px solid #bbccff;
	border-top: 6px solid #bbccff;
    border-bottom: 6px solid #bbccff;
	left: 10%;
	width:89.5%;
	height: 85%;
	position: fixed;
	top: 13%;
	overflow: auto;
}

div.content_sub_wrapper
{
	width:100%
}

div.content_wrapper div.setting_menu{
	background-color: #e3e9ff;
	border-bottom: 1px solid #cccccc;
}

div.setting_menu{
	height: 32px;
}

div.left_menu ul.left_menu_item {
}

div.left_menu ul.left_menu_item li{
	list-style: none;
	padding-left: 20%;
	font-size: 13px;
	height: 4%;
}

div.left_menu ul.left_menu_item li a{
	color: #000;
}

div.left_menu ul.left_menu_item li.selected{
	background-color: #bbccff;
	font-weight: bold;
}

div.row{
	width: 350px;
	height: 30px;
	padding-left: 5px;
}

div.row input{
	display: block;
	float: right;
	width: 200px;
}

div.submit input{
	width : 100px;
}

div.errors, div.succes{
	border: 1px dotted red;
	padding: 5px;
	background-color: #fba9a9;
}
div.succes{
	border-color: green;
	background-color: #abd5ab;
}

div.errors ul li, div.succes ul li{
	margin-left: 4%;
}

div.setting_menu
{
	padding-left: 5px;
}

div.content
{
	background-color: #F6F6F6;
	border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    padding: 10px;
    margin: 10px;
}
