div.content_wrapper h1
{
	border-bottom: 1px solid #BBBBBB;
	margin: 10px;
}


div.content form
{
	margin-top: 10px;
}

div.content form p
{
    height: 1%;
    margin-bottom: 10px;
}

div.content form p label
{
	float: left;
    font-weight: bold;
    text-align: right;
    width: 350px;
    margin-right: 5px;
}

div.content form p label span.required
{
	color:red;
}

div.content input.incl_inpt
{
	float:right;
}