div.content_wrapper h1
{
	border-bottom: 1px solid #BBBBBB;
	margin: 10px;
}
div.content_wrapper div.suivi
{
	margin: 0 10px;
	background-color: #F6F6F6;
    border: 1px solid #E4E4E4;
    padding: 10px;
    margin-bottom: 10px; 
}