body{
	background:#fff;
	color:#424242;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	margin:0;
	height: 100%;
}

.clear {
	clear:both;
	float:none;
	display:block;
	width:100%;
	line-height:1px;
	height:1px;
}

html {
    height: 100%;
}


div.header_wrapper
{
	width: 100%;
	height:13%;
	background-color: #507aaa;
	color: white;
}

div.header_wrapper h1
{
	margin:0;
	padding-left: 6px;
	font-size: 24px;
}

div.content
{
	background-color: #FFEBC1;
    border: 2px solid #FDBF3B;
    width: 460px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
}

div.content p
{
	width: 100%;
}

div.content p input
{
	float: right;
	width: 300px;
}

div.content p input.submit
{
	width: 100px;
}

div.content p label
{
	float: left;
	font-weight: bold;
}

div.errors, div.succes{
	border: 1px dotted red;
	padding: 5px;
	background-color: #fba9a9;
}

div.succes{
	border-color: green;
	background-color: #abd5ab;
}