table.user_list{
	width: 100%;
}

table.user_list tr{
	background-color: #edf0f9;
}

table.user_list td{
}

ul.tools_menu{
	padding-top: 5px;
}

ul.tools_menu li.menu_item{
	list-style: none;
	display: block;
	float: left;
	padding-right: 1px;
	margin-right: 5px;
}

ul.tools_menu li.menu_item div.input_fld{
	width: 200px;
}

ul.tools_menu li.menu_item div.input_fld input{
	width: 100%;
}

table.user_list tr.header
{
	background-color: #bbccff;
}

div.patients_result{
	position: absolute;
}
div.patients_result ul.result_item{
	width: 100%;
}

div.patients_result ul.result_item li{
	width: 192px;
	background: url(../Img/Backgrounds/auto_compl_bg.png) repeat left top;
	padding: 5px;
}

#loading_img
{
	width:20px;
}

.divButtonRight, .divButtonLeft
{
	padding-top: 20px;
}