body {
background-color:#FFFFFF;
}

.navigButtonLeft {
background-image:url(../Img/Backgrounds/button_L.jpg);
background-position:top-left;
background-repeat:no-repeat;
width:100px;
text-align:center;
color:#FFFFFF;
font-weight:bold;
font-size:11px;
}

.navigButtonRight {
background-image:url(../Img/Backgrounds/button_R.jpg);
background-position:top-right;
background-repeat:no-repeat;
width:100px;
text-align:center;
color:#FFFFFF;
font-weight:bold;
font-size:11px;
}

.questionTitle {
color:#FFFFFF;
font-weight:bold;
padding:0px;
}

#questionPart table{
}

.questBox {
background-color:#a17dba;
}

.quest {
background-color:#FFFFFF;
}

.title{
width:560px;
}

.contentQuest{
font-size:13px;
padding:0px;
}

.contentLong{
background-color:#FFFFFF;
font-size:10px;
padding:0px;
}

.contentLong p{
margin:2px;
padding-left:150px;
}

.contentLong h1{
padding-left:150px;
margin:0px;
font-size:20px;
}

.generalTitle{
color:#000000;
vertical-align:top;
}

.choice{
width:15%;
text-align:center;
height:50px;
font-weight:bold;
}


.point {
width:25%;
text-align:center;
color:#000000;
}

.point h1{
font-weight:normal;
font-size:14px;
margin:0px;
color:#FFFFFF;
}

.point p{
font-weight:bold;
font-size:25px;
margin:0px;
margin-top:15px;
background-color:#FFFFFF;
}

.choiceTable{
background-image:url(../Img/Backgrounds/bg_content2.jpg);
background-position:top-left;
background-repeat:repeat-y;
}

#divButtonRight{
height:100%;
width:100%;

}

#divButtonLeft{
height:100%;
width:100%;
}

.divQuest{
height:100%;
width:100%;
}


.style2 {
	font-family: "Franklin Gothic Heavy", Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color:#FFFFFF;
}

.style3 {
	font-family: "Franklin Gothic Heavy", Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color:#000000;
	background-color:#FFFFFF;
}

#title {
font-weight:bold;
}

#subTitle {
font-size:13px
}

.questionTitle2 {
color:#FFFFFF;
font-weight:bold;
padding:0px;
font-size:12px;
}

.generalTable{
background-image:url(../Img/Backgrounds/bg_content.jpg);
background-position:top-left;
background-repeat:repeat-y;
border:1px solid #666666;
padding-bottom:10px;
padding:5px;
min-height:420px;
}

.generalTable td{
vertical-align:top;
}

.menu td{
background-color:#6E6E6E;
color:#FFFFFF;
font-weight:bold;
width:20%;
font-size:17px;
border:1px solid  black;
}

.menu a{
text-decoration:none;
color:#FFFFFF;
}

body a:hover{
text-decoration:underline;
cursor:pointer;
}

.sectionTitle{
text-align:center;
font-weight:bold;
margin-bottom:30px;
}

.listPat{
background-color:#FFFFFF;
margin-top:5px;
border:2px solid #9097a9;
}


.cellTitle{
background-color:#9097a9;
text-align:center;
color:#FFFFFF;
font-weight:bold;
font-size:15px;
}

.cellCont1{
background-color:#d8d8d8;
text-align:center;
font-weight:bold;
}
.cellCont0{
background-color:#ececec;
text-align:center;
font-weight:bold;
}

.suivi{
padding:5px;
font-size:11px;
margin-left:5px;
margin-top:5px;
color:#000000;
width:380px;
background-color:#FFFFFF;
border:2px solid #9097a9;
}

.suivi td{
margin:0px;
padding:0px;
}

#searchForm{
padding-left:10px;
margin:5px;
border-bottom:2px dotted #ff7700;
border-top:2px dotted #ff7700;
padding-top:5px;
padding-bottom:5px;
height:22px;
}

#legende{
font-size:11px;
padding-left:5px;
padding-bottom:10px;
text-align:center;
}

.loginTable{
background-image:url(../Img/Backgrounds/bg_content.jpg);
background-position:top-left;
background-repeat:repeat-y;
border:1px solid #666666;
padding:5px;
}

.legend2{
font-weight:bold;
color:#666666;
}
