/*---------------------------------------------
---	 	compatibility layer 				---
---		for native template 				---
---		Beez20 and Beez5					---
----------------------------------------------*/


#header {
    overflow:visible !important;
	z-index:1000 !important;
}

#header ul.maximenuck li a:link,
#header ul.maximenuck li a:visited {
	display: block !important;
}

#header ul.maximenuck li ul li ul li ul {
	border:none !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	background:transparent !important;
}

#header ul.maximenuck li ul li ul {
	border:0 !important;
	background:transparent !important;
	padding-bottom:0;
}

#header ul.maximenuck li.maximenuck.active a:link,
#header ul.maximenuck li.maximenuck.active a:visited {
	border-right:none !important;
	background:transparent;
}

#header ul.maximenuck {
	margin-top:0px !important;
	position: relative !important;
}
