/*
 * @author ( Angie Radtke )
*/

/* not ready */

/* ##########################  general  ########################### */

#principal .camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
    display:none;
}

div#maximenuck ul.maximenuck li.level1.parent > a,
div#maximenuck ul.maximenuck li.level1.parent > span.separator {
  padding-right:21px;
  
    padding-left:15px;
}

.default_eventlist hr {
    margin: 8px 0px;
    display:none;
}
DIV.moduletable DIV.ic_eventlist {
padding-bottom:55px;
}

DIV.moduletable h3 {
    color: #333;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-image: url('../images/fond-titre.png');
    background-repeat: repeat-x;
    border-radius: 10px;
}
#espace {

  padding-left: 295px;
   width:50%;

}
DIV.moduletable DIV.titleSpan a  {
font-size:20px;
}

DIV#colonne-gauche {
float:left;
padding-right:15px;
}

DIV.bannergroup_logo {
padding-left:2px;
padding-bottom:20px;
}
td#langues div.moduletable ul.menu li a:hover {
  background-repeat: no-repeat;
  display:block;
  background-color: #99FF00;
}
td#langues div.moduletable ul.menu li  {
height:33px;
padding:4px;
    width:177px;
}


#position11 {
float:left;

}

h2 {
  color: #333333;
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-image: url(../images/fond-titre.png);
  background-repeat: repeat-x;
  border-radius: 10px 10px 10px 10px;
  

}

li.print-icon {
float:left;

}

div.pagination ul li {
  float:left;
  padding-right: 10px;  
}

body
{
    background-attachment: fixed;
  /*background-image: url(../images/ciel.jpg);*/
  font-family: arial, helvetica, sans-serif;
}
#principal {
  width: 981px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/fond-contenu.png);
  background-repeat: no-repeat;
  height: 529px;
}
#fond {
  margin-left: 15px;
  width: 960px;
  background-image: url(../images/fond-contenu.png);
  background-repeat: no-repeat;
}
#top {
  height: 40px;
  /*width: 974px;*/
  position:fixed;
  margin-top: -8px;
  z-index: 900;
}
#haut {
  height: 490px;
  margin-left: 15px;
  padding-top: 39px;
}
#haut-gauche {
  width: 322px;
  float: left;
}
#haut-droite {
  width: 620px;
  padding-left: 22px;
  margin-left: 322px;
  padding-top: 22px;
}
#millieu{
  height: auto;
  padding-right: 30px;
  padding-left: 30px;
  background-repeat: repeat-y;
  background-image: url(../images/fond-millieu.png);

}
#pied {
  background-repeat: no-repeat;
  height: 35px;
  
  color: #000099;
  padding-top: 10px;
  padding-left: 15px;
  text-align: center;
  font-size: 13px;
}
div.search {
  padding-left: 24px;
  margin-top: -10px;
}
div.search_loupe {
  padding-left: 24px;
  margin-top: -10px;
}
div.search_loupe label {
  background-image: url("../images/loupe.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 31px;
  margin-left: 5px;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 7px;
}

div.search .inputbox{
  height: 32px;
  background-color: rgba(43, 44, 44, 0.1);
  background: rgba(43, 44, 44, 0.1);
  color: #0066FF;
  border-style: none;
  border-radius: 7px;
  
  

    -moz-box-shadow:inset 1px 1px 25px #ffffff;
    -webkit-box-shadow:inset 1px 1px 25px #ffffff;
    box-shadow:inset 1px 1px 25px #ffffff;


}
div.search_loupe .inputbox_loupe {
  height: 32px;
  background-image: url(../images/fond-recherche.png);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 7px;
  
}



#all
{
  color: #333;
  border:solid 0px ;
  padding-top:0px;
  background:#fff
}

#header
{
  padding-top:10em
}

a:visited,
a:link{
color:#006699;
  text-decoration: none;
}


a:hover,
a:active,
a:focus
{
  color:#0099FF;
  text-decoration: none;
}

input:focus
{
  border:solid 2px;
  
}

fieldset
{
  border:solid 0px #ccc
}

form button.button
{
  background-color: #FFFFFF;
  border-style: none;
  width: 100px;  
}

.article-info
{
  color:#444
}

.article-info dd span
{
  color:#444;
  border-right:solid 0px;
  background:#eee
}

/* ##########################  back  ########################### */

#back
{

}

/* ##########################  logo  ########################### */

#logo span
{
  color:#fff;
  padding-left:50px;
  font-size:0.3em !important;
  text-transform:none;
  font-family:arial, sans-serif
}
#all #header
{padding-top:8.0em ;
}
.logoheader
{

  background:  #0c1a3e  URL(../images/personal/personal2.png) no-repeat bottom right ;
  color:#fff;
  min-height:200px;
  margin:0em 10px 0 10px !important;

}


h1#logo
{
     font-family: 'Titillium Maps',  Arial;
     padding:0.9em 20px 20px 10px;
     text-transform:uppercase;
     font-weight:normal;
     margin-top:0;
}



#line
{
  width:98% ;
  max-width:100% ;
  top:0px;
  left:0px;
  padding:5px 10px !important;
  margin-right:10px;
  text-align:right;

}


/* ##########################  header  ########################### */

#header
{
  background:#fff;
  font-size:1em;
  position:relative


}

/* ++++++++++++++  lists, skiplinks  ++++++++++++++ */
#header ul.menu
{
  /* top:62px; */
   top:5em;
  padding: 0px 0px 0px 0;
  background:#e0e0e0  url(../images/personal/ecke.gif) top left repeat-x;
  text-align:left;
  left:0px;
  display:block;
  margin:0px 10px 0 10px;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}


#header ul.menu li
{border:0; margin:0 !important;     }
#header ul.menu li a:link,
#header ul.menu li a:visited
{
  color:#333;
  margin:0px 0 0 0;
  padding:12px 15px;
  position:relative;
  display:inline-block;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu li a:focus
{
  background:#0d4c89 ;
  color:#fff;
}

#header ul li.active a:link,
#header ul li.active a:visited
{
  color:#f5f5f5;
  background:url(../images/personal/navi_active.png) ;
  text-shadow: 1px 1px 1px #000;
}


#header ul.skiplinks
{
  width:100%;
  text-align:left;
  background:none;
  z-index:20000;
  top:0;
  display:inline;
  padding:0
}

#header ul.skiplinks li a.u2:active,
#header ul.skiplinks li a.u2:focus

{
  background:#095197 !important;
  color:#fff !important;
  
  top:0 !important;
  z-index:10000;
  right:auto;
  left:0 !important;
  display:block
}


/* ++++++++++++++  fontsize  ++++++++++++++ */

#fontsize
{
   display:inline;


}

#fontsize p a:link,
#fontsize p a:visited
{
  color:#222;
  border-right:solid 1px #ccc
}


#fontsize p a.larger,
#fontsize p a.reset,
#fontsize p a.smaller
{
  padding-left:5px;
  padding-right:5px;
  text-decoration:none;
  margin:0;
}



#fontsize p a:hover,
#fontsize p a:active,
#fontsize p a:focus
{
  background:#095197 !important;
  color:#fff
}

#fontsize h3
{
  color:#222;
  font-weight:bold
}

/* ++++++++++++++  search  ++++++++++++++ */
#header form,
#header form .search,
#header form .finder
{

padding-right:1px ;


}

#header form .inputbox
{

  padding:5px;
}

#header form .inputbox:focus
{
  
}

#header form .button
{
  
  padding:4px !important
}

/* ##########################  contentarea  ########################### */

#contentarea,
#contentarea2
{
  background:#fff
}


/* ##########################  breadcrumbs  ########################### */

#breadcrumbs
{
  color:#333;
  
}

#breadcrumbs span
{
  color:#333;
}

#breadcrumbs span a:link,
#breadcrumbs span a:visited
{
  background:#fff;
  color:#333;
}

#breadcrumbs span a:hover,
#breadcrumbs span a:active,
#breadcrumbs span a:focus
{
  background:#095197;
  color:#fff;
}


/* ##########################  navigation column  ########################### */

.module_content
{
  border:solid 1px #ddd;

}
.moduletable_js
{
  border:solid 0px #ddd;
}

#right .moduletable_js
{
  border:0
}

#nav h3
{
  border-bottom:solid 1px #ddd;
  font-family: 'Titillium Maps', Arial;
  color:#555
}

h3.js_heading
{
  border-bottom:solid 1px #ddd;
  background:#eee;
  font-family: 'Titillium Maps', Arial;
}

h3.js_heading span.backh
{
  border:solid 0px #000
}

h3.js_heading span.backh1
{

}

h3.js_heading a
{
  border:0
}

h3.js_heading a img
{
  border:0
}

h3.js_heading a.opencloselink:hover,
h3.js_heading a.opencloselink:active,
h3.js_heading a.opencloselink:focus
{
  background:none
}


#right h3 span.backh
{

}

#right h3 span.backh2
{
  background:#fff;
  color:#555;
  border-bottom:solid 1px #ddd
}

#right h3 span.backh3
{
padding-left:0
}

h3.js_heading a:link,
h3.js_heading a:visited,
h3.js_heading a:hover,
h3.js_heading a:active,
h3.js_heading a:focus
{

}

#nav h3.js_heading a:focus
{

}

#nav form
{
  color:#000;
}

#nav form a:hover,
#nav form a:active,
#nav form a:focus
{
  color:#fff;
  background:#095197;
  text-decoration:none
}

/* ++++++++++++++  first level  ++++++++++++++ 
#nav .moduletable-example ul.menu
{
  background:#fff;
  border:0;
}


.module_content ul.menu
{
  border:0;
}

div#top ul.menu li
{
  float: left;
  padding-left: 10px;
  padding-bottom: 11px;
    
}


div#top ul.menu li a:link,
div#top ul.menu li a:visited
{
  color: #0000CC;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  
}

div#top ul.menu li.active a:link,
div#top ul.menu li.active a:visited
{
  color: rgb(255, 255, 255);
background-color: rgb(0, 153, 255);
padding-bottom: 5px;
    
}

div#top ul.menu li a:hover,
div#top ul.menu li a:active,
div#top ul.menu li a:focus,
div#top ul.menu li.active a:hover,
div#top ul.menu li.active a:active,
div#top ul.menu li.active a:focus
{
  color:#FFFFFF;
  font-size: 16px;
  background-color: #0099FF;
  padding-bottom: 11px;
}

/* ++++++++++++++  menu contact  ++++++++++++++ */

 ul.menu_contact
{
  list-style-type:none !important;
  margin-top: -20px;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 5px;
  padding-bottom: 20px;
  font-size: 18px;  
}

 .module_content ul.menu_contact
{
        margin-left:-5px;
        padding:10px 0 0 0 ;
}

 ul.menu_contact li
{
  margin:0;
  float: left;
  
  
}

ul.menu_contact li a:link,
 ul.menu_contact li a:visited
{
  display:block;
  text-decoration:none;
  padding-top: 7px;
  padding-right: 4px;
  padding-bottom: 17px;
  padding-left: 24px;
}

 ul.menu_contact li.active a:link,
 ul.menu_contact li.active a:visited
{
  font-weight:bold;
  color: #0099FF;
}

 ul.menu_contact li a:hover,
 ul.menu_contact li a:active,
 ul li a:focus
{
  color: #0099FF;
}


/* ++++++++++++++  second level  ++++++++++++++ */

ul.menu li ul
{
  border:solid 0px #eee;
}

 ul.menu li ul li
{
  border:solid 0px #000;
  background:#fff;
}

 ul.menu li.active ul li a:link,
 ul.menu li.active ul li a:visited
{
  color:#444;
  border:0;
  border-bottom:solid 1px #fff;
  background: #e8e8e8
}

 ul.menu li.active ul li.active a:link,
 ul.menu li.active ul li.active a:visited
{
  border:0;
  color:#333;
  border-bottom:solid 1px #fff;
}

 ul.menu li.active ul li a:hover,
 ul.menu li.active ul li a:active,
 ul.menu li.active ul li a:focus
{
  background:#666 !important;
  color:#fff !important;
}


/* ++++++++++++++  third level  ++++++++++++++ */

ul.menu li ul li ul
{
  border:0 !important;
  background:#f5f5f5 !important;
  padding-bottom:0
}

ul.menu li.active ul li.active ul li a:link,
ul.menu li.active ul li.active ul li a:visited
{
  background:#f5f5f5 ;
  border-bottom:solid 1px #fff;
  color:#444
}

ul.menu li.active ul li.active ul li.active a:link,
ul.menu li.active ul li.active ul li.active a:visited
{
  color:#333;
}



/* ++++++++++++++  fourth level  ++++++++++++++ */

ul.menu li ul li ul li ul
{
  border:solid 1px #eee !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  background:#fff url(../images/nature/level4.png) repeat-x !important;
}


ul.menu li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li a:visited
{
  font-weight:normal;
  padding: 3px 2px 3px 40px;
  font-size:0.9em;
  background:#fff url(../images/nature/arrow_small.png) no-repeat  30px 5px;
  color:#444
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold;
color:#333 }



/* ++++++++++++++  fifth level  ++++++++++++++ */

ul.menu li ul li ul li ul li ul
{
  border:solid 0px #eee !important;
  padding-top:5px !important;
  padding-bottom:10px !important;
  background:#fff !important;
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li a:visited
{
  font-weight:normal;
  padding: 3px 2px 3px 5px;
  font-size:0.9em;
  background:#fff ;
  color:#444;
  margin:0 10px  0 35px;
  border-bottom:solid 1px #ddd
}


ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active a:visited
{font-weight:bold; color:#333}

/* ##########################  content - main   ########################### */


#main
{

}

#main a:link,
#main a:visited
{

}

#main a:hover,
#main a:active,
#main a:focus
{
  background:#095197;
  color:#fff;
}

#main th a:hover,
#main th a:active,
#main th a:focus
{
  background:#333;
  color:#fff;
}

.items-row
{
  background:#fff
}

.items-row h2
{
  border-bottom:solid 1px #ddd;
  border-top:solid 1px #ddd;
  color:#555
}

.column-1,
.column-2
{
  border: solid 0px ;
}

.item-separator
{
  border: solid 0px #333333;
}

#main ul li
{

}

.small
{
  border:solid 0;
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
  border-bottom:solid 1px #ddd
}

.archive #adminForm fieldset
{
  border:0;
  padding:0;
  margin:20px 0
}
/* ++++++++++++++  images  ++++++++++++++ */

.image-left
{
  padding:2px;
}

.image-right
{
  border:solid 1px #ddd;
  padding:2px
}

/* ++++++++++++++  leading  ++++++++++++++ */

.items-leading
{

}


/* ++++++++++++++++++++ headings +++++++++++++ */
#main h1
{ color:#0d4c89;

  border-bottom:solid 1px #ddd;
  font-family: 'Titillium Maps', Arial;


}


#main .blog  h1,
#main .blog-featured  h1
{
  color:#0d4c89;
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
  font-family: 'Titillium Maps', Arial;
  margin-top:-1px !important

}

/* h1 on frontpage */

.items-row h2
{
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
}

.items-leading h2,
#main h3,
#main h4
{
  color:#555;
}

#main h2

{
  color:#555;
  font-family: 'Titillium Maps', Arial;

}

#main h2 a
{
  color:#095197
}


/* ++++++++++++++  readmore  ++++++++++++++ */

.readmore a:link,
.readmore a:visited,
a.readmore:link,
a.readmore:visited
{
  color:#095197;
  background:#eee url(../images/nature/arrow1.gif) no-repeat left top;
  border:solid 1px #ddd;
}

.readmore a:hover,
.readmore a:active,
.readmore a:focus,
a.readmore a:hover,
a.readmore a:active,
a.readmore a:focus
{
  background:#555 url(../images/nature/arrow2.gif) no-repeat left 6px !important;
  color:#fff;
}

a.readmore:hover,
a.readmore:active,
a.readmore:focus
{
  background:#555;
  color:#fff;
}

/* ++++++++++++++  icons  ++++++++++++++ */

.actions img
{
  border:0;
}

/* ++++++++++++++  items-more  ++++++++++++++ */

#main .items-more h3
{
  border-bottom:solid 1px #ddd;
  border-top:solid 1px #ddd;
  color:#444;
}

#main .items-more ol
{
  color:#000;
}

#main .items-more ol li a
{
  background:#FFFFFF url(../images/blog_more.gif) no-repeat 0px center;
  color:#095197
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
  background: #095197 url(../images/blog_more_hover.gif) no-repeat 0px center;
  color:#fff;
}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
  border-top:solid 1px #ddd;
  clear: both;
}

/* ++++++++++++++  article index  ++++++++++++++ */

table.contenttoc
{
  border:solid 1px #ccc;
}


/* ##########################  right column   ########################### */

#right
{
  border:solid 0px #e6e6e6;
  background:#fff
}



#right h3
{

}

#right h4
{
  color:#555;
  border:solid 0;
}





#right ul li a:hover,
#right ul li a:active,
#right ul li a:focus
{
  background:#095197;
  color:#fff;
}

/* ++++++++++++++  button for closing right column  ++++++++++++++ */
#close span
{
  color:#000;
}

/* ##########################  modules  ########################### */

/* ++++++++++++++  mostread, latest news ++++++++++++++ */

.mostread li a:link,
.mostread li a:visited,
.latestnews li a:link,
.latestnews li a:visited
{
  background: url(../images/personal/arrow2_grey.png) 2px 7px  no-repeat ;
}

.mostread li a:hover,
.latestnews li a:hover,
.mostread li a:active,
.latestnews li a:active,
.mostread li a:focus,
.latestnews li a:focus
{
  /*background:#555 url(../images/arrow_white_grey.png) 2px 7px  no-repeat !important;*/
color: #0099FF;
}

/* ++++++++++++++  newsfeed  ++++++++++++++ */

ul.newsfeed
{
  border:solid 0px #000;
}

.newsfeed-item
{
  border-bottom:solid 1px #ddd;
}

.newsfeed-item h5 a
{

}

/* ++++++++++++++  newsflash  ++++++++++++++ */
/* newsflash horizontal */

ul.newsflash-horiz
{
  background:#F5F5F5 url(../images/nature/box.png) repeat-x;
  border:1px solid #EEEEEE;
}

ul.newsflash-horiz li
{
  border:solid 0px #eee;
  background:#f5f5f5;
}

ul.newsflash-horiz li h4
{
  font-family: 'Titillium Maps', Arial;
}


/* newsflash vertical */

.newsflash-vert
{

}

/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem
{
  border:0
}

.banneritem a
{
  background:none
}

.banneritem a img
{
  background:none;
  border:0
}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form .inputbox
{
  border:solid 1px #ddd;
  background:url(../images/content_bg.gif) repeat-x;

}

fieldset.input
{
  border:0 ;
}


form div.search input.button, button.button,button.validate
{
  background-image: url(../images/loupe.png);
  background-repeat: no-repeat;
  height:30px;
  
  margin-left: 5px;

  
}


/* ++++++++++++++  tabs/ slide  ++++++++++++++ */

ul.tabs
{
  border:solid 1px #ddd;
  border-bottom:0;
  background:#f5f5f5 url(../images/nature/box.png) repeat-x;
}

ul.tabs li
{
  background:#f5f5f5 url(../images/nature/box.png) repeat-x;
  border-right:solid 1px #ddd
}

ul.tabs li a:link,
ul.tabs li a:visited
{
  color:#333;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus
{
  color:#000
}

.tabcontent
{
  border:solid 1px #ddd;
  background:#fff;
  color:#000;
}

.tabcontent .linkclosed
{
  color:#000;
  border-bottom:solid 1px #e5e5e5;
}

ul.tabs li a.linkopen
{
  background:#fff;
  color:#333;
  border:0
}

ul.tabs li a.linkclosed:hover,
ul.tabs li a.linkclosed:active,
ul.tabs li a.linkclosed:focus,
ul.tabs li a.linkopen:hover,
ul.tabs li a.linkopen:active,
ul.tabs li a.linkopen:focus
{
  background:#555;
  color:#fff
}

/* ++++++++++++++  category-module  ++++++++++++++ */

#right .category-module h4 a:link,
#right .category-module h4 a:visited
{
  color:#0D4C89
}

#right .category-module h4 a:hover,
#right .category-module h4 a:active,
#right .category-module h4 a:focus
{
  color:#fff
}


.category-module li
{
  border-bottom:solid 1px #ddd;
}

.category-module li li
{
  border:0
}



/* ##########################  search   ########################### */

.searchintro img
{
  
}

.inputbox:focus
{
  border:solid 2px #000;
}

.word
{
  
}

.word input
{
  border:solid 1px #ddd;
  background:url(../images/content_bg.gif) repeat-x;
  color:#333;
}

.only
{
  border:solid 1px #ccc;
}

.phrases
{
  color:#000;
  border:solid 1px #ccc;
}

/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
  background:#fff;
  color:#000;
}

.phrases .inputbox option
{
  background:#f5f5f5;
  border-bottom:solid 1px #ccc;
}

.phrases .inputbox option a:hover
{
  background:#C00;
  border-color:#CFD0D6;
  color:#fff;
}

/* ++++++++++++++   search results  ++++++++++++++++++ */

dl.search-results
{
  background:#f5f5f5;
}

dl.search-results dt.result-title
{
  border-top:dotted 1px #ddd
}

dl.search-results dd.result-url
{
  border-bottom:solid 5px #fff;
  color:#115599;
}

dl.search-results dd.result-created
{
  border-bottom:solid 5px #fff;
}

/* ##########################  forms   ########################### */


/* ++++++++++++++  form validation  ++++++++++++++ */

.invalid
{
  border-color:red !important;
}

label.invalid
{
  color:red;
}


/* ##########################  user profile  ########################### */
#users-profile-core,
#users-profile-custom
{
  border:solid 1px #ccc;
}

#member-profile fieldset
{
  border:solid 1px #ccc;
}


/* ##########################  tables   ########################### */
table
{

}

tbody
{

}

tr.odd,
.cat-list-row1
{
  background:url(../images/news.gif)  repeat-x;
}

table.newsfeeds td,
table.weblinks td
{

}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
  background-image: url('../images/fond-titre.png')
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th
{
  color:#006699;
  text-decoration: none;
}


td.table_footer
{
  background:#ddd url(../images/table_footer.gif) bottom left repeat-x;
}

td.counter
{

}

td.num,
td.hits
{

}

td p
{

}

table.category th a img
{
  border:solid 0px ;
}

/* for opera */
tr, td
{

}


#main table.moduletable td,
#main table.moduletable tr
{border:0;}
fieldset.filters
{
  border:solid 0px #ddd;

}

/* ##########################  contacts   ########################### */

.contact form
{
  color:#000;
}

.contact input
{
  background:#fff;
  color:#000;
}

.contact .button
{

}

.contact input.invalid,
.contact textarea.invalid
{
  border:solid 2px red;
}

.contact label.invalid
{
  color:red;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */

p.error
{
  color:#044b63;
  background:#eee;
  border-top:3px solid #044b63;
  border-bottom:3px solid #044b63;
}

body.contentpane
{
  background:#fff;
}


/* ##########################  footer   ########################### */

#footer
{
    /*  background:url(../images/footer_bg.gif) repeat-x;*/
  background:#333333 url(../images/personal/tabs_back.png) repeat-x;
  color:#fff;
  border-top:solid 0px #ccc;
}

#footer-inner
{
  background:#f5f5f5 url(../images/personal/footer.jpg) repeat-x left bottom;
  border-top:solid 1px #ddd
}

#footer a
{
  color:#fff;
}

#bottom a img
{
  border:0
}

.box h3
{
  font-family: 'Titillium Maps', Arial;
  font-size:1.2em
}
.box ul
{padding-left:0}

.box1
{border-right:solid 1px #ccc}
.box3
{border-left:solid 1px #ccc}
#bottom  ul li a
{background-image:none;
padding-left:0}
/* ##########################  editor  ########################### */

.contentpaneopen_edit img
{
  border:0
}

form.editor fieldset
{
  border:solid 1px #ccc;
}


/* ++++++++++++++  edit  ++++++++++++++ */

form#adminForm
{
  border:solid 0px #000
}

.edit form#adminForm fieldset
{
  border:solid 1px #ddd
}
.edit form#adminForm  legend
{
  font-weight:bold
}
/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip
{
  border:solid 1px #333;
  background:#ffffcc;
}


/*-------------------------------*/


table.pagenav,
table.pagenav tr,
table.pagenav td
{border:0 !important}

.cat-children ul ul,
.categories-list ul ul
{
  list-style-type:none;

}

.cat-children ul ul ul,
.categories-list ul ul ul
{


}
.categories-list .category-desc ul li
{list-style-type:square
}

/* contact  plain */
#main .contact h3
{
  border-bottom:solid 1px #ddd;
  margin: 20px 0
}

.form-required
{
  font-weight:bold;
  margin:10px 0;
  background:#fff url(../images/req.png) no-repeat;
  padding:10px 40px

}

.contact .inputbox,
.registration input,
.profile-edit input,
.login-fields input,
.remind input,
.reset input


{
  background:#fff url(../images/content_bg.gif) repeat-x ;
  border:solid 1px #ccc;
  padding:3px
}

.profile-edit select
{
  padding:0px;
  border:solid 1px #ccc;
  background:#f5f5f5;

}
.profile-edit select option
{
  padding:3px

}
/* contact  slider */

.panel
{
  
  margin-top:-1px

}
#main .contact .panel h3
{
  margin:0px 0 0px 0;
  padding: 0;
  background:#eee;
  border:0
}
.panel h3 a
{
  display:block;
  padding:6px;
  text-decoration:none;
  color:#444;
  padding:6px;
}


.panel h3.pane-toggler a
{
  background-image: url(../images/slider_plus.png);
  background-repeat: no-repeat;
  background-position: right top;
  border: 1px solid #ddd;
}
.panel h3.pane-toggler-down a
{
  background-image: url(../images/slider_minus.png);
  background-repeat: no-repeat;
  background-position: right top;
  border: 1px solid #ddd;
}

.pane-slider
{
  border:solid 0px;
  padding:0px 10px !important;
  margin:0;
  background: url(../images/nav_level_1.gif) repeat-x ;
}

.panel .contact-form,
.panel  .contact-miscinfo
{
  padding:10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address
{
  margin:20px 0 0 0
}


/* tabs */

div.current
{

  background: url(../images/nav_level_1.gif) repeat-x ;
}

/* image upload modal */

#all #upload-flash ul li a:hover,
#all .item a:hover span {
  background:#095197;
  color:#fff;
}
#close a
{text-decoration:none}

/* ########################## sample module styling  ########################### */

div.sample-module {
    border: 2px dashed #ddd;
    padding: 10px;
    background-color: #f5f5f5;
}
#accueil {
  float: left;
  height: 35px;
  width: 34px;
}
/**
 * @author  ( Angie Radtke  )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

/* not ready */


h3
{
        font-size:1.1em;
        font-weight:bold;
        margin:10px 0;
}

h4
{
        font-size:1em;
}

fieldset
{
  margin:10px 0;
  padding:15px 0px;
  
}

p
{
        line-height:1.5em;
        margin:8px 0;
}

em
{
        font-weight:bold;
}

/* ##########################  general  ########################### */
#all
{
    font-size: 0.8em;
}

/* ##########################  header content  ########################### */

#header form
{

}

#header form .button
{
        font-weight:bold;
        margin: 0;
        cursor:pointer;
        text-align:center;
        text-transform:uppercase
}

#header form .inputbox
{

        font-size:1em;
        width:13em;
        padding:3px;
}


#header form .inputbox { margin: 2px 13px 2px 2px;}
#header form .inputbox:focus { margin: 1px 11px 0 1px; }

#header ul
{
        display:block;
        margin:0px 0px 1px 0px;
        text-align:right;
        list-style-type:none;
        padding:10px 0px 10px 0px;
        position:absolute;
        top:0;
        right:0px;

}

#header ul li a:link,
#header ul li a:visited
{
        text-transform:uppercase;
        padding:10px;
        display:inline
}

#header ul.menu li
{
        display:inline ;
        padding:0 ;
        margin:0;

}

#header ul.menu li a:link,
#header ul.menu li a:visited
{
        font-weight:bold;
        text-decoration:none;
        padding:0px 10px;
        margin:0 ;
}

#header ul li a:hover,
#header ul li a:active,
#header ul li a:focus
{
        font-weight:bold;
}

#header ul li.active a:link,
#header ul li.active a:visited
{
        text-transform:uppercase;
        padding:10px 10px;
}




/* ##########################  fontsize  ########################### */

#fontsize
{
    padding:0;
    margin:0 20px 0 1px;
    text-align:right;
    margin-bottom:0px;
    float:none;


}

#fontsize h3
{
    padding-right:0;
    font-weight:normal;
    display:inline;
    font-size:1em;

        margin:0
}

#fontsize p
{
    margin:0 0 0 2px;
        padding:0;
    display:inline;
    font-size:1em;


}

#fontsize p a
{
    margin:0 2px;
    display:inline;
    padding:0px 5px;
}


/* ##########################  breadcrumbs  ########################### */

#breadcrumbs
{
  font-size:0.85em;
  margin-top: -5px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0px;
  height: 20px;
  float: right;
  margin-right: 35px;
}

#breadcrumbs p
{
        padding:5px;
        display:inline;
}

#breadcrumbs span
{
        padding:0px;
}

#breadcrumbs span a:link,
#breadcrumbs span a:visited
{
        text-transform:none;
        font-weight:normal
}

#breadcrumbs span a:hover,
#breadcrumbs span a:active,
#breadcrumbs span a:focus
{
        text-decoration:none;
}


/* ##########################  navigation column  ########################### */

#nav ul
{
        list-style-type:none;
        margin:0px 0;
}

.module_content
{
        margin:0px 0 0px 0;
        padding:0px 0px 10px 5px
}

.moduletable
{
        margin:0px 0 20px 0;
        padding:0px 0;
}

.moduletable_menu
{
        margin:0px 0 10px 0;
}

.moduletable_js
{
        margin-bottom:5px;
}

#nav h3.js_heading,
#right h3.js_heading
{
        position:relative;
        display:block;
        padding:5px 0px 0 0px ;
        margin:0px ;
        font-size:1.40em;
}

h3.js_heading span.backh
{
        padding:4px 0px 0px 10px;
        display:block;
}

h3.js_heading span.backh1
{
        padding:0px 20px 8px 0px;
        display:block;
}

h3.js_heading a
{
        display:block;
        position:absolute ;
        right:0px ;
        top:0px;
        padding:5px 5px 0 0;
        text-decoration:none;
}

.no
{
        font-size:1px;
}

#nav h3
{
        font-size:1.4em;
        margin:5px 0 6px 0;
        font-weight:normal;
        line-height:1.19em
}


#nav h3 span.backh3
{
        padding:0px 0px 5px 2px;
        display:block;
}


/* ++++++++++++++  first level  ++++++++++++++ */

#nav .moduletable-example ul.menu
{
        margin:0;
        padding:0
}

 div#haut-gauche ul.menu_dispositif
{
  list-style-type:none !important;
  
  margin-right: 0;
  
  margin-left: 21px;
  padding-right: 5px;
  
  font-size: 18px;  
}

 .module_content ul.menu_dispositif
{
        margin-left:-5px;
        padding:10px 0 0 0 ;
}

div#haut-gauche ul.menu_dispositif li
{
  background-image: url(../images/fond-menu.png);
  background-repeat: no-repeat;
  margin-bottom: 6px;
  height: 40px;
      
}
div#haut-gauche ul.menu_dispositif li img
{

  
}
div.fb-like.fb_edge_widget_with_comment.fb_iframe_widget {


}
#espace {

  padding-left: 295px;
}
div#haut-gauche ul.menu_dispositif li span.image-title {

  padding-top:-25px;
}

div#haut-gauche ul.menu_dispositif li a:link,
 div#haut-gauche ul.menu_dispositif li a:visited
{
  display:block;
  text-decoration:none;
  
  padding-right: 4px;
  padding-bottom: 7px;
  text-align: center;
  color: #FFFFFF;
  
}

 div#haut-gauche ul.menu_dispositif li.active a:link,
 div#haut-gauche ul.menu_dispositif li.active a:visited
{
  font-weight:bold;
  color:#000066;
}

  div#haut-gauche ul.menu_dispositif li a:hover,
  div#haut-gauche ul.menu_dispositif li a:active,
  div#haut-gauche ul.menu_dispositif li a:focus
  
{
  
  background-image: url(../images/fond-menu-rol.png);
  background-repeat: no-repeat;
}



/* ++++++++++++++  second level  ++++++++++++++ */
 ul.menu li ul
{
        margin:0 ;
        padding:0 ;
}
 ul.menu li ul li
{
        margin:0;
        padding:0
}

 ul.menu li.active ul li a:link,
 ul.menu li.active ul li a:visited
{
       
        font-weight:normal;
}


 ul.menu li.active ul li a.active:link,
 ul.menu li.active ul li a.active:visited
{
        padding:7px 10px 7px 20px ;
}

 ul li.active ul li.active a:link,
 ul li.active ul li.active a:visited
{
        font-weight:bold ;
}

/* ++++++++++++++  third level  ++++++++++++++ */

 ul.menu li ul li ul
{
        padding:5px 0 5px 0px;
}

 ul.menu li ul li ul li
{

}

ul.menu li.active ul li.active ul li a:link,
 ul.menu li.active ul li.active ul li a:visited
{
        padding:5px 4px 5px 30px;
        font-weight:normal;
}

 ul.menu li.active ul li.active ul li.active a:link,
 ul.menu li.active ul li.active ul li.active a:visited
{
        font-weight:bold;
}



/* ##########################  main  ########################### */

/* ++++++++++++++  main general  ++++++++++++++ */

#main h1
{

        padding: 5px;
        font-size:1.4em;
        line-height:1.19em;
        font-weight:normal;
        margin:0 -5px 10px -5px

}

#main h2
{
        font-size:1.6em;
        font-weight:normal;
        margin-bottom:10px;
        padding:3px 0px;
}

#main h2 a
{
        text-decoration:none;
}

#main h3
{
        margin:20px 0 10px;
}

.item
{
        padding:0px 5px 10px 5px;
        display:block
}

.item h2
{
        margin:0 0px 10px 0px
}

.item-page
{
        padding:0 5px;
        display:block;
        overflow:hidden
}
.item-page ul.actions li.email-icon a
{
  margin-left: 5px;

}
.item-page ul.actions li.email-icon 
{
  margin-top: 5px;
}

/* h1 on frontpage and blog view */

#main .blog-featured h1,
#main .blog h1
{

        margin:0 0px 10px 0px
}


.blog .category-desc
{
        padding:0 5px;
        margin:10px 0 25px
}

.blog .cat-children .category-desc
{
        padding:0 0px;
        margin:10px 0 25px
}


#main .items-row h2
{
        font-weight:normal;
        padding:5px 2px 5px 2px;
        font-size:1.4em
}
#main ul.subcategories
{
        margin:20px 20px 20px 10px
}
#main .subcategories-link
{
        font-weight:bold
}

#main ul
{
        list-style-position:outside;
        list-style-type:square;
        padding:0 0 0 15px;
        margin:10px 0 10px 0px;
}

#main ol
{
        padding:0 0 0 20px;
        margin:10px 0 10px 0px;
                list-style-position:outside
}

#main ul li,
#main ol li
{
        padding:0;
        line-height:1.7em;
        margin: 0;
}

#main .category-list
{
        padding:0 5px;
        display:block;
}

#main .category-list h1
{
        margin-left:-5px;
        margin-right:-5px;
}

.categories-list
{
        padding:0 5px
}

#main .categories-list ul
{
        margin:0px 0 0 20px;
        padding:0
}

#main .categories-list ul li
{
        padding: 5px;
}

#main .categories-list ul ul
{
        margin-left:15px
}

#main .categories-list dl dt,
#main .categories-list dl dd
{
  display:inline
}

.category-desc
{
        line-height:1.7em;
        margin:10px 0;
        padding-left:0px
}

.small
{
        font-size:0.85em;
        margin:0 0 20px;
}

.image-left
{
        float:left;
        margin:0 15px 5px 0;


}

.image-right
{
        float:right;
        margin:0 0 5px 15px
}

.archive
{
        padding:0 5px
}

.archive form
{
        padding:0 5px
}

ul#archive-items
{
        margin:20px 0 20px 0px;
        list-style-type:none;
        padding:0
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
        padding:10px 0;
        margin:10px 0;
}

/* ++++++++++++++  columns  ++++++++++++++ */

.cols-4 .column-1
{
        width:23%;
        float:left
}

.cols-4 .column-2
{
        width:23%;
        margin-left:1%;
        float:left;
}

.cols-4 .column-3
{
        width:23%;
        margin-left:1%;
        float:left
}

.cols-4 .column-4
{
        width:23%;
        margin-left:0;
        float:right
}

/* ++++++++++++++  top  ++++++++++++++ */

#top h2
{
        font-size:1.4em;
        font-weight:normal
}

/* ++++++++++++++  leading  ++++++++++++++ */

#main .items-leading h2
{
        font-size:1.4em;
        font-weight:normal;
        padding:5px 0px
}

/* ++++++++++++++  readmore  ++++++++++++++ */

#main .readmore a
{
        font-weight:bold;
        padding:2px 5px 2px 10px;
        display:inline-block;
        margin-top:5px;
                text-decoration:none
}

.newsflash  a.readmore:link,
.newsflash a.readmore:visited,
#main a.readmore:link,
#main a.readmore:visited
{
        padding:4px 5px 4px 10px ;
        line-height:1.2em;
        text-decoration:none;

}

.newsflash  a.readmore:link,
.newsflash a.readmore:visited
{margin:10px 0;}

a.readmore:hover,
a.readmore:active,
a.readmore:focus
{
        text-decoration:none
}

#main .readmore a:hover,
#main .readmore a:active,
#main .readmore a:focus
{
        text-decoration:none;
}

/* ++++++++++++++  details  ++++++++++++++ */

.article-info
{
        margin:10px 0 10px 0px;
        font-size:0.9em;
}

.article-info-term
{
        display:none
}

dt.category-name,
dt.create,
dt.modified,
dt.createdby
{
        float:left;
        padding-right:5px;
}

.archive .article-info dd,
.article-info dd
{
        margin:2px 0 0px 0;
        line-height:1.2em
}

dd.createdby
{

}

.article-info dd span
{
    text-transform:none;
    display:inline-block;
    padding:0 5px 0 0px;
    margin:0 10px 0 0px;
}

/* ++++++++++++++  icons  ++++++++++++++ */

#main ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}

#main ul.actions li
{
        display:inline
}

#main ul.actions a
{
        text-decoration:none
}

/* ++++++++++++++  items more  ++++++++++++++ */

#main .items-more
{
        padding-top:10px;
}

#main .items-more h3
{
        font-weight:normal;
        margin:0;
        padding:5px 5px 5px 5px;
        font-size:1.4em
}

#main .items-more ol
{
        line-height:1.3em;
        list-style-type:none;
        margin:0;
        padding:10px 0 10px 2px;
}

#main .items-more ol li
{
        padding:2px;
}

#main .items-more ol li a
{
        display:inline;
        margin:0;
        font-weight:normal;
        padding:5px 5px 5px 20px;
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
        font-weight:normal;
        padding:5px 5px 5px 20px;
        text-decoration:none
}


/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;
        clear:both;

}

#main .pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}

#main .pagination li
{
        display:inline;
        padding:2px 5px;
        text-align:left;
        border:solid 0px #eee;
        margin:0 2px
}

.pagenav
{padding:2px; clear: both;}

#main .pagination li.pagination-start,
#main .pagination li.pagination-next,
#main .pagination li.pagination-end,
#main .pagination li.pagination-prev
{border:0}

#main .pagination li.pagination-start ,
#main .pagination li.pagination-start  span
 {
padding:0

}
p.counter
{
        font-weight:bold;
}


/* ##########################  right  ########################### */

#right .moduletable
{
        margin:0px 0px 10px 00px;
        padding:0px 0 20px 0;
}

#right h3
{
        font-size:1.2em;
                line-height:1.4em;
        margin:5px 0 0 0;
        font-weight:normal ;
}

#right h3 span.backh
{
        padding:0px 0px 0px 0;
        display:block;
}

#right h3 span.backh2
{
        display:block;
}

#right h3 span.backh3
{
        padding:0px 0px 5px 0px;
        display:block;
}

#right h3.js_heading span.backh
{
        padding:0px 0 0 10px
}

#right h4
{
        font-size:1em;
        padding:10px 5px 0 0;
        margin:0;
}

#right ul
{

    list-style-type:none;
    margin:10px 0;
    padding:5px 0 0 0px;
    position:relative;
}
#right ul.categories-module ul
{margin: 15px 0 15px 10px}
#right ul li
{

}

#right ul li a
{

}

#right ul.category-module
{
        margin-top:0;
        padding-top:0
}



/*  ####################   forms   #####################  */

#member-registration
{
        padding:0 5px
}
#member-registration fieldset
{
border:solid 1px #ddd
}

form fieldset dt
{
        clear:left ;
        float:left;
        width:12em;
        padding:3px 0
}

form fieldset dd
{
        float:left;
        padding:3px 0
}

/* ########################## search ############################ */
.searchintro
{
        font-weight:normal;
        margin:20px 0 20px;
}

#searchForm,
#finder-search
{
        padding:0 5px
}

.form-limit
{
        margin:20px 0 0;
        text-align:right;
        padding:0 10px 0 20px;
}

.inputbox:focus
{

}

.highlight
{
        font-weight:bold;
}

.ordering-box
{
        width:40%;
        float:right;
}

.phrases-box
{
        width:60%;
        float:left
}

.only,
.phrases
{
        margin:10px 0 0 0px;
        padding:15px ;
        line-height:1.3em;
}

label.ordering
{
        display:block;
        margin:10px 0 10px 0
}

.word
{
        padding:10px 10px 10px 0;
}

.word input
{
        font-weight:bold;
        margin:0px 10px 0px 10px;
        padding:4px;
        font-size:1em
}

.word input:focus
{
        margin:0 0 0 9px;
}

.word label
{
    font-weight:bold
}

fieldset.only label,
fieldset.phrases label
{
    margin:0 10px 0 0px
}

.ordering-box label.ordering
{
    margin:0 10px 5px 0;
    float:left
}


form .search label,
form .finder label
{
        display:none
}

form #finder-filter-select-list label
{
        display:block;
        margin-top: 10px;
        margin-bottom: 2px;
}

.search legend
{font-weight:bold}
/* ++++++++++++++  selects  ++++++++++++++ */
.phrases .inputbox
{
        width:10em;
}

.phrases .inputbox option
{
        padding:2px;
}


/* ++++++++++++++  search results  ++++++++++++++++++ */

dl.search-results
{

}

dl.search-results dt.result-title
{
        padding:15px 15px 0px 5px;
        font-weight:bold;
}

dl.search-results dd
{
        padding:2px 15px 2px 5px
}

dl.search-results dd.result-text
{
        padding:10px 15px 10px 5px;
        line-height:1.7em
}

dl.search-results dd.result-url
{
        font-size:90%;
        padding:2px 15px 15px 5px;
}

dl.search-results dd.result-created
{
        padding:2px 15px 15px 5px
}

dl.search-results dd.result-category
{
   padding:10px 15px 5px 5px
}

/* ########################### contacts ########################### */

.contact
{
        padding:0 5px
}

.contact-category
{
        padding:0 10px
}

.contact-category  #adminForm fieldset.filters
{
  border:0;
  padding:0
}

.contact-image
{
  margin:10px 0;
  overflow:hidden;
}

.contact-image img
{
/* as you like
float:right;
float:left */
}


address
{
        font-style:normal;
        margin:10px 0;

}

address span
{
        display:block
}
.contact-address

{
margin:20px 0 10px 0;

}


.contact-email div
{
        padding:2px 0;
        margin:0 0 10px 0;
}

.contact-email label
{
        width:17em;
        float:left;

}
span.contact-image
{
    margin-bottom:10px;
    overflow:hidden;
    display:block
}
#contact-textmsg
{padding: 2px 0 10px 0}

#contact-email-copy
{
        float:left;
        margin-right:10px;

}

.contact .button
{
        float:none !important;
        clear:left;
        display:block;
        margin:20px 0 0 0
}



dl.tabs {
    float: left;
    margin: 50px 0 0 0;
    z-index: 50;
    clear:both;


}

dl.tabs dt {
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-right: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open {
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;

}

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}


div.current dd {
    padding: 0;
    margin: 0;
}

dl#content-pane.tabs {
    margin: 1px 0 0 0;
}


/* ##########################  user profile  ########################### */

#users-profile-core,
#users-profile-custom
{
        margin:10px 0 15px 0;
        padding:15px;
}

#users-profile-core dt,
#users-profile-custom dt
{
        float:left;
        width:12em;
        padding:3px 0;


}

#users-profile-core dd,
#users-profile-custom dd
{
        padding:3px 0;



}

#member-profile fieldset,
.registration fieldset
{
        margin:10px 0 15px 0;
        padding:15px;

}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend
{
    font-weight:bold
}

.profile-edit form#member-profile fieldset dd,
.registration form#member-registration fieldset dd
{ float:none; padding:5px 0}

.profile-edit form#member-profile fieldset dd input,
.profile-edit form#member-profile fieldset dd select,
.registration form#member-registration fieldset dd input
{width:17em}
.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt
{padding:5px 5px 5px 0; width:13em}


span.optional
{font-size:0.9em}
/*#################### tables ############################ */

table
{
        border-collapse:collapse
}

table.weblinks,
table.category

{
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}

table.weblinks td
{
        border-collapse:collapse;
}

table.weblinks td,
table.category td

{
        padding:7px;
}

table.weblinks th,
table.category th

{
        padding:7px;
        text-align:left
}

td.num
{
        vertical-align:top;
        text-align:left;
}

td.hits
{
        vertical-align:top;
        text-align:center
}

td p
{
        margin:0;
        line-height:1.3em
}

.filter
{
        margin:10px 0
}

.display-limit,
.filter
{
        text-align:right;
        margin-right:7px
}




/* ++++++++++++++  category table  ++++++++++++++ */

table.category th a img
{
        padding:2px 10px
}

.filter-search
{
        float:left;

}
.filter-search .inputbox
{width:6em}


legend.element-invisible
{
        position:absolute;
        /* need margin top and left doesn't work for the legend element */
        margin-left:-3000px;
        margin-top:-3000px;
        height:0px;
}

.cat-items
{
        margin-top:20px
}


/* #################### footer ############################ */
#footer-sub
{

    padding:0px
}
#footer
{
        padding:15px 10px 15px 20px;
        text-align:right;
        margin:0 auto;
        display:block;
        max-width:1020px;
        overflow:hidden
}

#footer div
{
        float:left;
        font-size:0.8em;
        line-height:1.7em;
}

#footer-outer
{
        padding:0;
}

.box
{
        text-align:left
}

.box ul
{
        list-style-type:none
}

#bottom .newsfeed-item
{
        padding:0;
        margin-bottom:10px
}

.box .moduletable_menu,
.box .moduletable
{
        margin:10px
}

.box3
{
        padding-left:10px
}

.box h3
{
        font-size:1.3em
}

#bottom ul.latestnews
{
        padding-left:0
}

#footer p
{
        font-size:0.8em;
        margin:0
}

p.syndicate
{
        float:left;
        display:block;
        text-align:left;
}


/* ++++++++++++++  Error Message contact form  ++++++++++++++ */
p.error
{
        padding:10px;
}

/* ++++++++++++++  editor  ++++++++++++++ */
.contentpaneopen_edit
{
        float: left;
}

.contentpaneopen_edit img
{

}


a.mceButton:hover  {background:none !important}

/* ++++++++++++++  pagebreak  ++++++++++++++ */
table.contenttoc
{
        padding:10px;
        margin:10px;
}

table.contenttoc tr td
{
        padding:1px 0px
}

.pagenavcounter
{
        font-weight:bold;
}


/* ++++++++++++++  edit  ++++++++++++++ */
legend
{
        padding:3px 5px;
}

form#adminForm
{

}

.edit form#adminForm fieldset
{
        padding:20px 15px;
        margin:10px 0 15px 0;
}

.formelm
{
        margin:5px 0
}


.formelm label
{
        width:13em;
        display:inline-block;
        vertical-align:top;
}

form#adminForm .formelm-area
{
        padding:5px 0
}

form#adminForm .formelm-area label
{
        vertical-align:top;
        display:inline-block;
        width:7.9em
}

.formelm-buttons
{
        text-align:right;
        margin-bottom:10px
}

.button2-left
{

}

a.modal-button,
.button2-left .blank a,
.button2-left a,
.button2-left div.readmore a
{background:#eee;
padding:4px !important;
margin:0 !important;
line-height:1.2em; border:solid 1px #ddd;
font-weight:bold; text-decoration:none;
margin-top:10px !important}

/* ++++++++++++++  tooltip  ++++++++++++++ */


.tip
{
        font-size:0.8em;
        text-align:left;
        padding:3px;
        max-width:400px
}

.tip-title
{
        font-weight:bold;
}


/* #################### modules ############################ */

/* ++++++++++++++  newsflash  ++++++++++++++ */

/* newsflash horizontal */
.newsflash-horiz
{
        overflow:hidden;
        list-style-type:none !important;
        margin:0 5px!important;
        padding:20px 10px !important
}

.newsflash-horiz li
{
        float:left;
        width:30%;
        margin:0 1% !important;
        padding:10px 5px;
}

ul.newsflash-horiz li h4
{
    font-size:1.4em;
}

.newsflash-horiz li img
{
    display:block;
    margin-bottom:10px
}

/* newsflash vertical */

.newsflash-vert
{
    padding:0
}


/* ++++++++++++++  banner  ++++++++++++++ */

.banneritem
{
        margin: 10px 0px 10px 0px;
        padding:0px;
}
div.bannergroup_face
{
  margin-bottom: 10px;
  padding-left: 8px;
  float: left;
}

.banneritem a
{
        font-weight:bold
}


/* ++++++++++++++  latest, popular  ++++++++++++++ */

#nav .module_content ul.latestnews,
#nav .module_content ul.mostread
{
        margin:10px 0 0 0
}

ul.latestnews,
ul.mostread
{
        padding-left:10px;
        list-style-type:none !important;
}

ul.latestnews li a,
ul.mostread li a
{
    padding:2px 2px 2px 15px ;
    display:block;
    text-decoration:none
}


/* ++++++++++++++  newsflash  ++++++++++++++ */
.newsflash
{
    margin:0px;

}

/* ++++++++++++++  newsfeed  ++++++++++++++ */
.newsfeed
{
        padding:0 5px
}

ul.newsfeed
{
        padding:0 !important
}

.newsfeed-item
{
        padding:5px 0 0 0;
        margin:0
}

.newsfeed-item h5 a
{
        font-size:1.1em;
        font-weight:bold !important
}

.feed-item-description img
{margin: 5px 10px 10px 0}

dl.newsfeed-count dt,
dl.newsfeed-count dd
{
        display:inline
}

/* ++++++++++++++  weblinks  ++++++++++++++ */

dl.weblink-count dt,
dl.weblink-count dd
{
        display:inline;

}

/* ++++++++++++++  login  ++++++++++++++ */

#login-form
{
        padding-top:5px
}

#login-form fieldset
{
        padding:0px;

}

#login-form .inputbox
{
        padding:2px
}

#login-form fieldset.input
{
        padding:10px 0 0 0;
        margin:0px 0 10px 5px
}

#login-form label
{
        margin-right:10px;
        width:8.4em;
        display:block;
        float:left
}

#form-login-remember label
{
  float:none;
  width:auto;
  display:inline
}

.logout-button
{
  margin-top:10px
}

input.button,
button.button,
button.validate
{
  font-weight:bold;
  line-height:1.2em;
  font-family:arial;
  margin-left: 5px;
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 7px;
  
}

#modlgn-username,
#modlgn-passwd
{
        width:9em
}

.module_content #form-login-username label,
.module_content #form-login-password label
{
            float:left;
            width:5.2em
}

.login-fields
{
        margin:10px 0
}

.login-fields label
{
        float:left;
        width:9em
}

.login-description img,
.logout-description img
{
        float:left;
        margin-right:20px
}

.login-description,
.logout-description
{
        overflow:hidden;
                padding-left:5px;
                margin:20px 0 10px 0
}

.logout-description
{
        margin-bottom:20px
}



/* ++++++++++++++  tabs/ slide  ++++++++++++++ */
.slide
{
        height:auto !important;

}

ul.tabs
{
    overflow:hidden;
    padding:0 !important;
    margin:0 !important
}

.tabopen ul.newsflash-horiz,
.tabopen ul.newsflash-vert,
.tabopen ul.latestnews
{
    margin:0 !important;
    padding:0 !important;
}

.tabopen ul.newsflash-horiz li,
.tabopen ul.newsflash-vert li
{
    padding:0 6px !important;
}

ul.tabs li
{
    list-style-type:none;
    float:left;
    width:auto;
    padding:0;
    display:block;
    margin:0;
    font-size:1em;
}

ul.tabs li a:link,
ul.tabs li a:visited
{
    text-decoration:none;
    padding:7px 5px;
    margin:0px ;
    display:block;
    font-size:0.9em;
    font-weight:normal;
}

ul.tabs li a.linkopen:link,
ul.tabs li a.linkopen:visited
{
    font-weight:bold;
}

ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a:focus
{
        text-decoration:underline;
}

.tabcontent
{
        padding:15px 10px;
        margin-top:-1px;
}

.tabcontent:focus
{
  outline:none
}
.tabopen
{
        display:block;
        margin-bottom:20px;
        overflow:hidden
}

.tabclosed
{
        display:none
}

.tabcontent ul
{
        padding:0
}

.tabcontent ul li
{
        list-style-type:none
}

.tabcontent .linkclosed
{

}

a.linkopen
{

}

.tabouter
{
        margin-top:20px
}


.module_content
{border:solid 1px #000;
padding:10px}

/* ++++++++++++++  random  ++++++++++++++ */

#right .random-image,
#nav .random-image
{
        margin-top:10px;
        margin-left:10px
}



/* ++++++++++++++  content-module ++++++++++++++ */
.category-module li
{
        padding:5px 0 5px 0
}

.category-module span
{
        display:block;
        font-size:0.85em;
}

.category-module a span
{
        display:inline
}

a.mod-articles-category-title
{
        text-decoration:none;
        font-weight:bold
}



/*-------------------------------*/

.australia
{
        margin:0px 0;
        padding:10px 65px 10px 10px;
}

.australia h3
{
        font-size:1.4em;
}

.australia a
{
        font-weight:bold
}

.australia p
{
        line-height:1.4em
}

/* ###########  Categories list ############ */
#main .categories-listalphabet ul
{
padding:0;
margin:20px 10px 10px 0;
list-style-type:none;
list-style-position:inside
 }
#main .categories-listalphabet ul li
{
display :inline;
padding:5px;
border-right:solid 1px #ddd
}


#main .categories-list ul
{list-style-type:none;
margin:0}

#main .cat-children
{ padding-left:5px
}
#main .cat-children ul dl dt,
#main .cat-children ul dl dd
{ display:inline}

#main .cat-children ul
{list-style-type:none;
 margin:0;
 padding:0;
}
 #main .cat-children ul
 {margin:20px 20px 20px 0;}
  #main .cat-children ul ul
  {margin:20px}

  #main .cat-children ul li
  {margin:10px 0 10px 0}




  /* mod stats  */


    .stats-module dl
    {margin:10px 0 10px 0}
    .stats-module dt
    {float:left;
    margin:0 10px 0 0;
    font-weight: bold;
    }
      .stats-module dt,   .stats-module dd
      {padding:2px 0 2px 0 }
/* syndicate */

a.feed-link
{
margin-top:15px;
display:block;
text-decoration:none
}

.feed-link img
{border:0}

/* pagenav */
#main ul.pagenav {
  list-style-type:none;
  padding:0;
  overflow:hidden
}
ul.pagenav li
{
  display:inline-block;
  padding:0px;
  margin:0;
}
#main ul.pagenav li
{
  line-height:2em
}
ul.pagenav li a
{
  border:solid 1px #ccc;
  display:inline;
  background:#eee;
  padding:2px;
  text-decoration:none
}
ul.pagenav li.pagenav-prev
{float:left}
ul.pagenav li.pagenav-next
{float:right}

/* pagebreak */

#article-index
{
  width:25%;
  float:right;
  border:solid 1px #eee;
  padding:10px;
  background:#f9faf9;
  border-radius:10px;
  box-shadow:#000 2px 2px 20px;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 7px;
  margin-bottom: 15px;
  margin-left: 15px;
}
#article-index ul li a
{
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
}
#article-index h3
{
  margin:0;
  font-size:1em;


}

#article-index ul
{
  list-style-type:disc;
  color:#666
}


/* mailto window */


#mailto-window
{
  background:#f5f5f5;
  padding:15px;
  border:solid 1px #ddd;
  position:relative
}
#mailto-window label
{
  width:10em
}

.mailto-close
{
  position:absolute;
  right:0;
  top:5px;
  background:none;




}


.mailto-close a
{
background:#f5f5f5 url(../images/close.png) no-repeat !important;
min-width:25px;
display:block;
min-height:25px;
overflow:visible
}

.mailto-close a  span
{
  position:absolute;
  left:-3000px;
  top:-3000px;
  display:inline

}
#mailto-window  .inputbox
{
  background:url("../images/content_bg.gif") repeat-x scroll 0 0 #FFFFFF;
  border:1px solid #ccc;
  padding:3px;
}

#mailto-window p
{
  margin-top:20px
}

#mailto-window button
{
  margin:0 5px 0 0
}


span.spacer > span.text label {
  white-space: nowrap;
  font-weight: bold;
  color: #666;
}
.red {
  font-weight: bold;
  color: #c00;
}

.star {
  color:#cc0000;
}

/* ++++++++++++++  news feeds direction ++++++++++++++ */

.redirect-ltr {
  direction: ltr;
  text-align: left;
}

.redirect-rtl {
  direction:rtl;
  text-align: right;
}


#main h3.title,
#main2 h3.title,
#main dl.tabs h3,
#main2 dl.tabs h3
{margin:0}
/* ++++++++++++++  feed-display-module ++++++++++++++ */

div.feed {
  display:block;
  padding: 5px 10px;
}

/* ++++++++++++++  image float style ++++++++++++++ */
.img-fulltext-left {
  float:left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-intro-left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-fulltext-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.img-intro-right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
/**

 * @author ( Angie Radtke )
 * @package Joomla
 * @subpackage Accessible-Template-Beez
 * @copyright Copyright (C) 2005 - 2009 Open Source Matters. All rights reserved.
 * @license GNU/GPL, see LICENSE.php
 * Joomla! is free software. This version may have been modified pursuant to the
 * GNU General Public License, and as distributed it includes or is derivative
 * of works licensed under the GNU General Public License or other free or open
 * source software licenses. See COPYRIGHT.php for copyright notices and
 * details.
 */

/* not ready */

*
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}


body
{
  font-size: 100.01%;
  padding: 0px;
  position:relative;
  background-image: url('../images/ciel.jpg');
  height: 100%;
  width: 100%;
}

/* ###################### general ###################### */
#all
{
    margin: 0 auto;
    max-width:1050px;
    padding: 0px;
    text-align: left;
}

#header
{
    display:block !important;
    position:relative;
    padding:0px 0 0 0;
    overflow:hidden;
}

#back
{
        margin: 0;
        padding:0px;
}

#contentarea,
#contentarea2
{
    position:relative;
    overflow:hidden;
    padding:0px 20px !important;
    margin:0;

}

#wrapper
{
        width:53%;
        float:left;
        position:relative;

}

#wrapper2
{
    width:72%;
    float:left;
    position:relative;
    padding-bottom:20px

}
#wrapper2 .item-page
{
    max-width:660px
}
#main
{
    padding: 10px 0px 20px 0px;
    position: relative;
    min-height:420px;
}

#right
{
    float:left;
    width: 20%;
    margin:10px 0px 10px 2%;
    padding:0px 0px 5px 0px;
    position:relative;
}

.unseen,
.hidelabeltxt
{
    display: inline;
    height: 0px;
    left: -3000px;
    position: absolute;
    top: -2000px;
    width: 0px;
}

/* ++++++++++++++  nav after content  ++++++++++++++ */
.left
{
        padding-top:0px;
        float:right;
        margin:10px 0px 10px 0%;
        width: 22%;
        position:relative;

}

/* ++++++++++++++  nav before content  ++++++++++++++ */
.left1
{
    padding:0px 0 0 0px;
    float: left;
    margin:10px 3% 10px 0px;
    width: 21%;
    position:relative
}

.leftbigger
{
     width:25%
}


/* ###################### header ###################### */

.skiplinks,
.skiplinks li
{
    display: inline;
    height: 0px;
    line-height:0;
    padding:0 !important;
}

.skiplinks li a.u2
{
    display: inline;
    height: 0px;
    left: -3000px;
    position: absolute;
    top: -2000px;
    width: 0px;

}

.skiplinks li a.u2:active,
.skiplinks li a.u2:focus
{
    position:absolute;
    width:13em;
    top:10px;
    left:10px;
    line-height:1.5em;
    padding:5px;
    font-weight:bold;
    height:3em;

}

.wrap
{
    border: 0;
    clear: both;
    float: none;
    font-size: 1px;
    height: 0;
    line-height: 1px;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

h1#logo
{
        font-size:3.5em;
        line-height:1.0em;
}

#logo
{
        margin-top:0.6em;
        margin-left:10px;
        /* position:absolute;*/
        display:block;
        padding:20px 20px 20px 10px;
        width:425px;
        padding-top:0.6em;
        font-weight:normal;
        line-height:1em;
        font-size:3em;
}

#logo img
{
        display: block;
}

#logo span
{
        padding-left:2px
}

#logo span.header1
{
        font-size:0.4em;
        display:block;
        top:0em;
        line-height:0.8em
}

.logoheader
{
        margin:0;
        padding:0;
        text-align:left;
        font-weight:normal;
        line-height:1.5em;
        min-height:159px;

}

#line
{       padding:5px 0px 2px 2px;
        position:absolute;
        right :20px;
        top:5em;
        max-width:38em;

}


/* ++++++++++++++  button for closing right column  ++++++++++++++ */

#close
{
        margin-right:0px;
        font-size:0.85em;
        text-transform:uppercase;
}

#close span
{
    position:absolute;
    right: 20px;
    z-index:10000;
    top:5px;
    width:7em;
    font-weight:bold;
    text-align:right;
    line-height:1.5em;
    padding:5px 2px 5px 5px
}

/* ###################### main ###################### */

/* ++++++++++++++  position  ++++++++++++++ */

.blog-featured
{
       padding-top: 4px;
}

.items-leading
{
        padding:0px 5px 10px 5px;
        overflow:hidden;
        margin-bottom:10px
}

.row-separator
{
        display: block;
        clear: both;
        margin: 0;
        border: 0px;
        height:1px
}

.item-separator
{
        display: none;
        margin: 0px;
}

.shownocolumns
{
        width:98% !important;
}

#top
{
        
    
}

/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

/* ++++++++++++++  footer  ++++++++++++++ */

#bottom
{
        overflow:hidden
}

.box
{
        width:27%;
        float:left;
        margin-right:10px;
        min-height:100px
}

.box1
{
        width:35%
}

.box2
{
        width:32%
}

.box3
{
        float:right
}

#footer-inner
{
        max-width:1025px;
        margin:0 auto;
        font-size:0.8em;
        padding:10px 15px 15px 10px;
}

img { border: 0 none; }
