/*
 * COM_ICAGENDA
 * iCagenda by JoomliC
 * Theme Pack Official
 * iC Rounded Theme - component
 *
 * @name		ic_rounded
 * @author		Lyr!C (JoomliC)
 * @version 	3.3.2 2014-03-15
 * @since		1.0
 */


/*
 * GENERAL STYLES (list and details)
 */

/* General */
#icagenda {
	width:auto;
	margin:0px;
	padding:0px
}

/* Align styles */
.ic-align-left {
	text-align: left;
}
.ic-align-right {
	text-align: right;
}
.ic-align-center {
	text-align: center;
}

/* Float styles */
.ic-float-left {
	float: left;
}
.ic-float-right {
	float: right;
}
.ic-float-none {
	float: none;
}

/* Clear Float div */
.ic-clearfix {
	*zoom: 1;
}
.ic-clearfix:before,
.ic-clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.ic-clearfix:after {
	clear: both;
}

#icagenda .clr {
	clear:both;
}

#icagenda a:hover {
	text-decoration:none;
}
#icagenda h2 {
	border-bottom: 0px;
	padding: 0px;
	margin: 0;
	line-height: 1.2em;
}
#icagenda h2 a:link,
#icagenda h2 a:visited {
	text-decoration:none;
	text-shadow:none;
	padding:0px;
	margin:0;
}
#icagenda h2 a:hover,
#icagenda h2 a:active,
#icagenda h2 a:focus {
	background:none;
	text-shadow:none;
}

/* Style Title/Category Header */
#icagenda .event-header {
	display: block;
	width: auto;
	margin-top: 10px;
	background: #FAFAFA;
	padding: 0px 10px 0px 20px;
	border: 1px solid #999999;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #DDDDDD;
}
#icagenda .event-header h1 {
	font-size: 2em;
	line-height: auto;
	color: #333;
	text-shadow: none;
	text-decoration: none;
	border: 0px;
}
#icagenda .title-header {
	display: block;
	width: 70%;
}
#icagenda .title-cat {
	display: block;
	width: 27%;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
    /*	border-radius:4px; */
}
.ic-details-cat {
	margin-top: 1.25em;
}
.ic-text-border-grey {
	text-shadow:
		-1px 0 grey,
		0 1px grey,
		1px 0 grey,
		0 -1px grey;
}
.ic-text-border {
	text-shadow: 0 0 #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 #000;
	-webkit-text-shadow: 0 0 #000;
}
.ic-text-shadow {
	text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 2px #000;
	-webkit-text-shadow: 0 0 2px #000;
}

#icagenda .title-cat .caticon {
	color: #FFFFFF;
	font-weight: normal;
	padding: 2px;
	border-radius:3px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
	cursor: default;
}

/* Share buttons (AddThis) */
#icagenda .share {
	float:right;
	background:none;
	padding:5px 10px 5px 0;
	text-shadow:none;
}
#icagenda .share a:link,
#icagenda .share a:visited {
	background:none;
	text-decoration:none;
}
#icagenda .share a:hover,
#icagenda .share a:active,
#icagenda .share a:focus {
	background:none;
}


/*
 * LIST PAGE CSS
 */

/* Style Navigation */
#icagenda .navigator {
	margin: 7px 0;
}
#icagenda .navigator a {
	text-decoration:none;
}
#icagenda .navigator a:link,
#icagenda .navigator a:visited {}

#icagenda .navigator a:hover,
#icagenda .navigator a:active,
#icagenda .navigator a:focus {
	cursor:pointer;
}
#icagenda .icagenda_back {
	float: left;
	margin-left: 5px;
}
#icagenda .icagenda_next {
	float: right;
	margin-right: 5px;
}
#icagenda .navigator button {
	border:0;
	padding:5px;
	color:#fff;
	background:#f3f3f3;
	margin-right:5px;
}

/* Style Category Header */
#icagenda .cat_header_title {
	display: block;
	padding: 1px 7px;
	font-size: 1em;
	text-align: center;
	color: #fff;
	font-weight: normal;
	float: left;
	margin: 3px 10px -2px 0;
	border-radius:4px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	background:#dddddd;
	background-size:cover;
}
#icagenda .cat_header_desc {
	display: block;
	padding: 3px 7px;
	margin: 2px 0px;
}

/* Style Background alternative */
#icagenda .event{
	background:#f7f7f7;
	background:rgba(247,247,247,0.9);
	margin:2% 0;
	padding:0.5%;
	border-radius:6px;
}
#icagenda .event:nth-child(2n+1){
	background:#ededed;
	background:rgba(237,237,237,0.9);
}

/* Style Category */
#icagenda .cat {
	color:#555555;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
}

/* Style Left (Container Box Date) */
#icagenda .leftbox {
	border:0px;
}

/* Style Box Date */
.ic-box-date {
	width:18%;
	height:80px;
	padding:3%;
	padding-top:25px;
	text-align:center;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	float:left;
	margin:0.5%;
	border-radius:10px;
	text-shadow: #000 2px 2px 10px;
	background:#ddd;
	background-size:cover;
	border:1px solid #ddd;
}

.ic-box-date:hover {
	transition: border-radius 0.5s, color 0.5s;
	-moz-transition: border-radius 0.5s, color 0.5s;
	-webkit-transition: border-radius 0.5s, color 0.5s;
	-o-transition: border-radius 0.5s, color 0.5s;
	border-radius: 15px;
}
#icagenda .fontColor {
	color: #666 !important;
}

/* Style Box Date */
.ic-date {
	line-height: 0px !important;
	font-size: 30px;
}
.ic-day {
	line-height: 40px !important;
	font-size: 40px;
	font-weight: bold;
}
.ic-month {
	line-height: 24px !important;
	font-size: 24px;
	letter-spacing: 0px;
	margin-left: 0px;
	font-weight: normal;
}
.ic-year {
	line-height: 17px !important;
	font-size: 15px;
	letter-spacing: 2px;
	margin-left: 3px;
	font-weight: bold;
}
.ic-no-image {
	line-height: 13px !important;
	font-size: 8px;
}



/* Style Right (Container Title, Cat, Desc...) */
#icagenda .ic-content {
	width:72%;
	margin:1%;
	float:left;
	color:#555555;
}
#icagenda .ic-content .eventtitle {
	border-bottom: 1px solid #cccccc;
	height: auto;
	margin: 0px;
	padding-bottom: 3px !important;
}
#icagenda .ic-content .category {
	text-align:right;
	float:right;
	font-size:0.8em;
	text-transform:uppercase;
	margin:0;
	padding:0px;
}
#icagenda .ic-content .nextdate {
	margin:5px 0px;
	font-size:16px;
}
#icagenda .place {
	font-weight:normal;
	font-size:12px;
}
#icagenda .descshort {
	font-weight:normal;
	font-size:11px;
	margin:5px 0px 0px 0px !important;
}
#icagenda .descshort p {
	margin:0px !important;
}
#icagenda .moreinfos {
	background:none;
	float:right;
	font-weight:bold;
	font-size:10px;
	text-transform:uppercase;
	cursor:pointer;
}
#icagenda .moreinfos a:link,
#icagenda .moreinfos a:visited {
	background:none;
	color:#555555;
	text-decoration:none;
}
#icagenda .moreinfos a:hover,
#icagenda .moreinfos a:active,
#icagenda .moreinfos a:focus {
	background:none; color:#111111;
	cursor: pointer;
}



/*
 * EVENT PAGE CSS
 */

/* Style Registration button */
#icagenda .regisBox {
	float:right;
	margin:3px 0;
}
#icagenda .regisBox a {
	float:left;
	text-decoration:none !important;
}
#icagenda .regisBox a:hover,
#icagenda .regisBox a:focus {
	float:left;
	text-decoration:none !important;
	cursor:pointer;
}

/* Text Button */
#icagenda .regis_button {
	display:block;
	margin:2px 3px 0 0;
	line-height:16px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
#icagenda .regis_button:hover,
#icagenda .regis_button:focus {
	text-decoration:none;
	cursor:pointer;
}

/* Text Event Finished */
#icagenda .event_finished {
	display:block;
	margin:2px 3px 0 0;
	line-height:16px;
	font-weight:bold;
	text-transform:uppercase;
}
#icagenda .event_finished:hover,
#icagenda .event_finished:focus {
	text-decoration:none;
}

/* Image Button */
#icagenda .regis_imgbutton {
	display:block;
	margin:0 3px;
	height:16px;
	line-height:16px;
	width:16px;
	background:url('../../../../../../media/com_icagenda/images/btn-regis.png') no-repeat;
}
#icagenda .regis_imgbutton:hover {
	text-decoration:none;
	cursor: pointer;
}

/* Nb of registered people */
#icagenda .icRegistered {
	display:block;
	float:left;
	color:#333333;
	text-align:center;
	background:url('../images/regis-baloon.png');
	height:16px;
	line-height:16px;
	width:36px;
	font-size:11px;
	font-weight:bold;
}

/* Style Event General */
#icagenda .icinfo {
	padding:10px 5px 10px 5px;
	background:#e5e5e5;
	background:rgba(229,229,229,0.9);
	color:#333333;
	border:1px solid #999999;
	text-align:center;
	margin:10px 0;
	border-radius:10px;
	box-shadow:1px 1px 3px #DDDDDD;}
#icagenda .icinfo .details {
	text-align:center;
	padding:1%;
}
#icagenda .icinfo .details label {
	float:none !important;
	font-weight:bold;
}

/* Style Image */
#icagenda .image {
	text-align:center;
}
#icagenda .image img {
	max-width:98%;
	max-height:400px;
	border:0px solid #ccc;
	margin-bottom:10px;
	border-radius:5px;
}

/* Style Time (in date) */
#icagenda .evttime {font-size:0.8em;}

/* Style File Download link */
#icagenda .icDownload {
	text-decoration:none !important;
}

/* Style Description */
#detail-desc {
	padding:10px;
	margin:10px; background:#FFFFFF;
	background:rgba(255,255,255,0.9);
	color: #333333;
	text-align:left;
	border:0px solid #ccc;
	margin-bottom:10px;
	border-radius:5px;
	text-shadow: none;
}

/* Style Information */
#icagenda .information {
	display: block;
	width: 100%;
	text-align:left;
	background: #cccccc;
	color: #333;
	padding: 0px !important;
	margin: 0 !important;
	border: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#icagenda .information label {
	text-transform:uppercase;
	font-weight:bold;
}
#icagenda .information .infoleft {
	display: inline-block;
	background: #555;
	width: auto;
	vertical-align: top;
	border: 0px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#icagenda .information .infomiddle {
	display: inline-block;
	width: 52%;
	vertical-align: top;
	border: 0px;
	margin: 10px;
	text-align: left;
	color: #111;
}
#icagenda .information .infomiddle .lbl {
	display: inline-block;
	width: 110px;
	font-weight: bold;
}
#icagenda .information .infomiddle .data {
	display: inline-block;
}
#icagenda .information .inforight {
	display: inline-block;
	width: 100px;
	background:#FAFAFA;
	vertical-align:top;
	text-align:center;
	padding:10px;
	margin:10px;
	color:#333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
}

/* Slider */
#icagenda .icpanel {
	background:#FFF;
	border-radius:10px;
}
#icagenda .panel {
	margin:1px;
	border:0;
}
#icagenda .panel h3 {
	margin:-1px !important;
	padding:0 !important;
	background:#eee;
	border:0;
	border-radius:10px;
}
#icagenda .panel h3 a {
	display:block;
	padding:6px !important;
	text-decoration:none;
	color:#444;
	border-radius:10px;
}
#icagenda .panel h3.pane-toggler a {
	border:solid 1px #999999;
	background:#f5f5f5 url(../images/pluslist.png) 99% 50% no-repeat;
	border-radius:10px;
}
#icagenda .panel h3.pane-toggler-down a {
	border:solid 1px #999999 !important;
	background:#f5f5f5 url(../images/minuslist.png) 99% 50% no-repeat;
	border-bottom:0 !important;
	border-radius:10px 10px 0px 0px !important;
}
#icagenda .pane-slider .ic-content {
	border-bottom:solid 1px #999999;
	border-top:0;
	padding-bottom:3px !important;
}
#icagenda .pane-slider {
	border-top:0;
	border-left:solid 1px #999999;
	border-right:solid 1px #999999;
	padding-left:0px !important;
	padding-right:0px !important;
	margin:0;
	background:#FFF;
	border-radius:0px 0px 10px 10px;
	width:100% !important;
	margin-left: -1px;
}

/* Slider Full list of Participants */
#icagenda .list_table {
	background:#cccccc;
	background:rgba(204,204,204,0.5);
	border-radius:3px 3px 3px 3px;
	float:left;
}
#icagenda .imgbox {
	width:40px;
}
#icagenda .imgbox img {
	border-radius:3px 3px 3px 3px;
	margin:2px 0px;
}
#icagenda .list_name {
	font-weight:bold;
}
#icagenda .list_places {
	font-size:smaller;
}
#icagenda .list_date {
	font-size:smaller;
}

/* Style Google Maps */
#detail-map {
	margin:0px 2px 0px 0px;
}
#detail-map .icagenda_map {
	margin:auto;
	border:1px solid #999999;
	background:#FFFFFF;
	text-shadow:none;
	border-radius:10px;
	box-shadow:1px 1px 3px #DDDDDD;
	border-radius:10px;
}

/* Style All Dates */
#detail-date-list {}
#detail-date-list .datesList {}
#detail-date-list .alldates ul {
	padding-left:1%;
}
#detail-date-list .alldates li {
	background-image:none;
}
#detail-date-list .alldates h3 {
	font-size:12px;
	margin-top:10px;
	font-weight:bold;
}


/*
 * REGISTRATION
 */

/* Style Title */
#icagenda .formTitle h2 {
	margin: 15px 0 -5px 0px;
}

/* Style Form (general) */
#icagenda .icagenda_form {
	color:#333;
}
#icagenda .icagenda_form h3 {
	font-weight: bold;
	font-size: 14px;
	margin: 15px 0 10px 0px;
}
/* #icagenda .icagenda_form div {padding:5px;} */
#icagenda .icagenda_form .fieldset {
	border-radius:2px;
	margin:10px 0;
	background:#f3f3f3;
	padding:10px;
}

/* Style Registration infos */
#icagenda .reginfos {
	font-size:0.8em;
}

/* Style Label */
#icagenda .icagenda_form label {
	color: #333;
	display: block;
	width: 130px;
	float: left;
	margin: 0px 3px;
}

/* Style Input field */
#icagenda .icagenda_form input {
	border:1px solid #ccc;
	padding:3px;
}

/* Style button left (joomla 2.5) */
#icagenda .icagenda_form .button2-left {
	margin: 3px 3px 3px 0px;
	float:left;
}

/* Style Field infos */
#icagenda .icagenda_form .formInfo {}
#icagenda .icagenda_form .formInfo img {
	height:14px;
	vertical-align:middle;
	cursor:help;
}
#icagenda .icagenda_form .formInfo img a:hover {
	background:none;
}

/* Registration Info Tooltips in CSS3 */
a.ictip {
	outline:none;
	text-decoration:none;
}
a.ictip:hover {
	background:none !important;
}
a.ictip > span {
	min-width:auto;
	max-width:250px;
	padding: 10px 10px;
	margin-top: -50px;
	margin-left: 100px;
	opacity: 0;
	visibility:hidden;
	z-index: 10;
	position: absolute;
	font-style: normal;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 2px #999;
	-moz-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
	-webkit-transition-property:opacity, margin-top, visibility, margin-left;
	-webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;
	-webkit-transition-timing-function:ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	-moz-transition-property:opacity, margin-top, visibility, margin-left;
	-moz-transition-duration:0.4s, 0.3s, 0s, 0.3s;
	-moz-transition-timing-function:ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	-o-transition-property:opacity, margin-top, visibility, margin-left;
	-o-transition-duration:0.4s, 0.3s, 0s, 0.3s;
	-o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	transition-property:opacity, margin-top, visibility, margin-left;
	transition-duration:0.4s, 0.3s, 0s, 0.3s;
	transition-timing-function:ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
a.ictip > span .title {
	font-weight: bold;
	font-size: 1em;
}
a.ictip > span .text {
	font-size: 0.9em;
	padding:0 !important;
}
a.ictip > span:after {
	right:100%;
	border:solid transparent;
	ic-content:" ";
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-right-color:#777;
	border-width:6px;
	top:0%;
	margin-top:12px;
}
a.ictip:hover > span {
	opacity: 1;
	text-decoration:none;
	visibility: visible;
	overflow: visible;
	margin-top:-10px;
	display: inline;
	margin-left: 40px;
}
a.ictip > span {
	color: #444444;
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(100%,#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#FFFFFF',GradientType=0 );
	border: 1px solid #D4D4D4;
}

/* Style Buttons Background */
#icagenda .icagenda_form .bgButton {
	background:#c0c0c0;
	color:#fff;
	padding:5px;
	border:none;
	text-align:center;
}

/* Style Terms of Service */
#icagenda .icagenda_form .agreeToS {
	color:#fff;
	font-weight:bold;
}

/* Style Button Submit */
#icagenda .icagenda_form .button {
	font-family:arial;
	font-size:12px;
	background:#555555;
	color:#fff; padding:5px;
	border:none;
	border-radius:6px;
	text-align:center;
}
#icagenda .icagenda_form .button:hover {
	background:#c72031;
	color:#fff;
}

/* Style Button Cancel */
#icagenda .icagenda_form .buttonx a {
	font-family:arial;
	font-size:12px;
	background:none !important;
	text-decoration:none;
	color:#555;
	padding:0px;
	border:none;
	border-radius:6px;
	text-align:center;
}
#icagenda .icagenda_form .buttonx a:hover {
	background:none !important;
	text-decoration:none;
	color:#c72031 !important;
}


/*
 * STYLES for classes not presents in Theme Pack files, but in iCagenda core files
 */

/* Style Back Button */
.ic-back {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1px;
}
.ic-back a:link,
.ic-back a:visited {
	text-decoration:none;
}
.ic-back a:hover,
.ic-back a:active,
.ic-back a:focus {
	text-decoration:none;
}

/** Columns List of Participants (Full) **/
#icagenda .total {width:99%; min-width:180px; margin:0.5%;}
#icagenda .demi {width:49%; min-width:180px; margin:0.5%;}
#icagenda .tiers {width:32.3%; min-width:180px; margin:0.5%;}
#icagenda .quart {width:24%; min-width:150px; margin:0.5%;}

.names_noslide {text-align:justify;}
.names_slide { padding:6px !important; text-align:justify;}
