/*
 * COM_ICAGENDA
 * Extra small devices (usually a mobile phone)
 * 0 < SCREEN WIDTH < ('Small Screen Threshold' - 1)
 * Default : 0 < SCREEN WIDTH < 480
 */

/* Style Background alternative */
#icagenda .event{
	margin:20px 0;
}
#icagenda .ic-box-date {
	width: auto;
	float: none;
}
#icagenda .ic-content {
	width: auto;
	float:none;
}
#icagenda .cat {
	text-align: left;
	float: none;
}

/* Style Title/Category Header (event details view) */
#icagenda .event-header {
	width: auto;
}
#icagenda .title-header {
	width: 98%;
	text-align: center;
}
#icagenda .title-cat {
	width: 98%;
	text-align: center;
}

/* Style Information */
#icagenda .information {
	text-align: center;
	width: 100%;
}

#icagenda .information .infoleft {
	min-width: 86%;
}

#icagenda .information .infomiddle {
	min-width: 86%;
}

#icagenda .information .inforight {
	min-width: 86%;
}
