/**
 *------------------------------------------------------------------------------
 *  iCicons font by Jooml!C
 *------------------------------------------------------------------------------
 * @copyright   Copyright (c)2012-2014 Cyril Rezé, Jooml!C - All rights reserved
 *
 * @license     GNU General Public License version 3 or later; see LICENSE.txt
 * @author      Cyril Rezé (Lyr!C)
 * @link        http://www.joomlic.com
 *
 * @version 	3.2.12 2014-01-04
 * @since       3.2.2
 *------------------------------------------------------------------------------
*/

@font-face {
	font-family: 'iCicons';
	src:url('fonts/iCicons.eot');
	src:url('fonts/iCicons.eot?#iefix') format('embedded-opentype'),
		url('fonts/iCicons.woff') format('woff'),
		url('fonts/iCicons.ttf') format('truetype'),
		url('fonts/iCicons.svg#iCicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iCicon-"], [class*=" iCicon-"] {
	font-family: 'iCicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iCicon-backic:before {
	content: "\25c0";
}
.iCicon-backicY:before {
	content: "\25c1";
}
.iCicon-nextic:before {
	content: "\25b6";
}
.iCicon-nexticY:before {
	content: "\25b7";
}
.iCicon-earth:before {
	content: "\e600";
}
.iCicon-timezone:before {
	content: "\e601";
}
.iCicon-print:before {
	content: "\e602";
}
.iCicon-calendar-2:before {
	content: "\e603";
}
.iCicon-calendar:before {
	content: "\e604";
}
.iCicon-location:before {
	content: "\e605";
}
.iCicon-iclogo:before {
	content: "\e606";
}
