/*
 * MOD_IC_EVENT_LIST
 * iCagenda by JoomliC
 * Default css file for iCagenda event list module
 *
 * @layout		default
 * @author		Lyr!C (JoomliC) - http://www.joomlic.com
 * @version		2.6 2013-12-18
 * @since		1.0
 */


/*
 * EVENT LIST STYLES
 */

#ic_eventlist {
	width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0.15% 0 0.10% 0.25%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}



/*  GRID OF COLUMNS  */
.col1 {
	margin: 2px 0 2px 0;
	width: 100%;
}
.col2 {
	width: 49.87%;
}
.col2:nth-child(3) {
	margin-left: 0;
}
.col3 {
	width: 33.16%;
}
.col3:nth-child(4) {
	margin-left: 0;
}
.col4 {
	width: 24.81%;
}
.col4:nth-child(5) {
	margin-left: 0;
}

/*  GO 3 COLS IF 4 SELECTED AT LESS THAN 767 PX AND MORE 481 PX */

@media (min-width: 481px) and (max-width: 767px) {
	.col1 {
		width: 100%;
	}
	.col2 {
		width: 49.87%;
	}
	.col3 {
		width: 33.16%;
	}
	.col4 {
		width: 33.16%;
	}
	.col4:nth-child(5) {
		margin-left: 0.25%;
	}
	.col4:nth-child(4) {
		margin-left: 0;
	}

}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 0.7% 0 0.7% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.col1 {
		width: 100%;
	}
	.col2 {
		width: 100%;
	}
	.col3 {
		width: 100%;
	}
	.col4 {
		width: 100%;
	}
}

/* Bottom line <hr> tag */
.default_eventlist hr{
	margin: 8px 0px
}

/* Style Background alternative */
.default_eventlist{}
.default_eventlist:nth-child(2n+1){}

/* Style Background hover */
.default_eventlist:hover{}

/* Style Table */
.default_eventlist table {width:100%; border:0px !important;}
.default_eventlist tr {border:0px !important;}
.default_eventlist td {padding:5px !important; border:0px !important; vertical-align:top;}

/* Style Content */
.default_eventlist .listDate {text-align:center; width:26px;}

/* Style Div */
.default_eventlist .eventDiv {
	margin-bottom: 0px;
	min-height: 42px;
}
.default_eventlist .dateImgBox {
	float: left;
	width: auto;
}
.default_eventlist .dateDiv {
	float: left;
	width: 30px;
	text-align: center;
	padding: 1px;
	margin-right: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding:3px;
}
.default_eventlist .iCday {
	line-height:18px !important;
	font-size: 16px;
	font-weight: bold;
}
.default_eventlist .iCmonth {
	line-height:12px !important;
	font-size: 12px;
	font-weight: normal;
}
.default_eventlist .titleSpan {
	padding-top: 2px;
	line-height: 15px !important;
	font-size: 13px;
	font-weight: bold;
}
.default_eventlist .cityDiv {
	line-height:16px !important;
	font-size: 13px;
	display: inline-block;
	max-width: 57%;
}
.default_eventlist .datetimeDiv {
	display: inline-block;
	max-width: 57%;
	font-size: 11px;
}
.default_eventlist .descSpan {
	font-size: 12px;
}
.default_eventlist span.iCreg {
	font-size: 10px;
	margin: 0 2px;
	padding: 0 5px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #333;
	cursor: pointer;
}
.default_eventlist span.iCreg.available {
	background: white;
	color: black;
}
.default_eventlist span.iCreg.ticketsleft {
	background: green;
	color: white;
}
.default_eventlist span.iCreg.registered {
	background: blue;
	color: white;
}

/* Option class Align Row (for module class suffix, set " listRow" with a space before) */
.listRow{display:block; width:220px; float:left;}

