/* GENERIC */
body {
	margin:0;
	padding:0;
	font-family:Arial, "Franklin Gothic Book", "Tahoma", Helvetica;
	font-weight:100;
	font-size:0.8em;
	color:#9f9f9f;
	background-color:#f9f9f9;
}
input, textarea, select {
	font-family:Arial, "Franklin Gothic Book", "Tahoma", Helvetica;
	font-weight:100;
	color:#9f9f9f;
}
a {
	color:#787878;
	text-decoration:underline;
}
a img {
	border:none;
}
fieldset, ul, h1, h2, h3, h4, form {
	margin:0;
	padding:0;
	border:0;
}
.display_none {
	display:none;
}
strong {
	font-weight:900;
}
div.login_submit {
	position:relative;
	width:130px;
	height:36px;
	overflow:hidden;
	cursor:pointer;
	margin:10px auto 0 auto;
}
div.login_submit div.left,
div.login_submit div.right {
	width:7px;
	height:36px;
	float:left;
	background:url(../Img/Backgrounds/login_submit_borders.png) top left no-repeat;
}
div.login_submit div.right {
	background-position:0 -36px;
}
div.login_submit div.middle {
	width:116px;
	background:url(../Img/Backgrounds/login_submit_content.png) top left repeat-x;
	height:36px;
	float:left;
	overlow:hidden;
}
div.login_submit div.middle input{
	width:116px;
	height:34px;
	border:0;
	margin:0;
	padding:0;
	color:#FFF;
	background:none;
	cursor:pointer;
	text-align:center;
	font-weight:900;
}
h1.main {
	display:block;
	float:left;
	width:99%;
	padding-left:1%;
	margin-top:1%;
	text-align:left;
	font-size:16px;
}
h1.main span.light{
	font-weight:100;
	font-style:italic;
	color:#858585;
}
ul.error {
	width:74%;
	margin:5px 10%;
	padding:5px 2%;
	background-color:#FFEBE8;
	border:#FFC8BF solid 1px;
}
ul.error li {
	list-style:none;
}
/* /GENERIC */

div#login_box_wrapper {
	width:340px;
	margin:100px auto;
	position:relative;
}
div#login_box_wrapper img.logo{
	display:block;
	width:340px;
	height:70px;
}
div#login_box_wrapper fieldset.login_form {
	width:340px;
	margin:15px 0 0 0;
}
div#login_box_wrapper fieldset.login_form div.top,
div#login_box_wrapper fieldset.login_form div.foot{
	width:340px;
	height:20px;
	background-image:url(../Img/Backgrounds/login_box_top_foot.png);
	background-position:0 0;
	background-repeat:no-repeat;
}
div#login_box_wrapper fieldset.login_form div.top {
	background-position:0 -20px;
}
div#login_box_wrapper fieldset.login_form div.content {
	width:340px;
	padding:10px 0 15px 0;
	margin:0;
	background:url(../Img/Backgrounds/login_box_content.png) top left repeat-y;
}
div#login_box_wrapper fieldset.login_form div.row {
	width:280px;
	margin:0 0 0 30px;
	padding-top:10px;
}
div#login_box_wrapper fieldset.login_form div.row label{
	display:block;
	width:100%;
	font-size:11px;
	letter-spacing:2px;
	text-align:left;
	padding-bottom:3px;
}
div#login_box_wrapper fieldset.login_form div.row div.login_input {
	width:280px;
	height:40px;
	overflow:hidden;
	background:url(../Img/Backgrounds/login_input.png) top left no-repeat;
}
div#login_box_wrapper fieldset.login_form div.row div.login_input input{
	width:265px;
	height:25px;
	margin:5px;
	border:0;
	background-color:#f9f9f9;
	font-size:20px;
}