/* GENERIC */
body {
	margin:0;
	padding:0;
	font-family:Arial, "Franklin Gothic Book", "Tahoma", Helvetica;
	font-weight:100;
	font-size:0.8em;
	color:#9f9f9f;
	background-color:#f9f9f9;
}
input, textarea, select {
	font-family:Arial, "Franklin Gothic Book", "Tahoma", Helvetica;
	font-weight:100;
	color:#9f9f9f;
}
a {
	color:#787878;
	text-decoration:underline;
}
a img {
	border:none;
}
fieldset, ul, h1, h2, h3, h4, form {
	margin:0;
	padding:0;
	border:0;
}
.display_none {
	display:none;
}
strong {
	font-weight:900;
}
div.login_submit {
	position:relative;
	width:130px;
	height:36px;
	overflow:hidden;
	cursor:pointer;
	margin:10px auto 0 auto;
}
div.login_submit div.left,
div.login_submit div.right {
	width:7px;
	height:36px;
	float:left;
	background:url(../Img/Backgrounds/login_submit_borders.png) top left no-repeat;
}
div.login_submit div.right {
	background-position:0 -36px;
}
div.login_submit div.middle {
	width:116px;
	background:url(../Img/Backgrounds/login_submit_content.png) top left repeat-x;
	height:36px;
	float:left;
	overlow:hidden;
}
div.login_submit div.middle input{
	width:116px;
	height:34px;
	border:0;
	margin:0;
	padding:0;
	color:#FFF;
	background:none;
	cursor:pointer;
	text-align:center;
	font-weight:900;
}
h1.main {
	display:block;
	float:left;
	width:99%;
	padding-left:1%;
	margin-top:1%;
	text-align:left;
	font-size:16px;
}
h1.main span.light{
	font-weight:100;
	font-style:italic;
	color:#858585;
}
ul.error {
	width:74%;
	margin:5px 10%;
	padding:5px 2%;
	background-color:#FFEBE8;
	border:#FFC8BF solid 1px;
}
ul.error li {
	list-style:none;
}
/* /GENERIC */

/* LISTING */
body {
	background-color:#f1eded;
	padding:0;
}
div#bo_header {
	width:100%;
	float:left;
	height:129px;
	background:url(../Img/Backgrounds/listing_header_bg.png) top left repeat-x;
}
div#bo_header div.left{
	float:left;
	width:47%;
	height:110px;
	margin:0 0 0 3%;
	padding-top:19px;
}
div#bo_header div.left img.logo {
	width:375px;
	height:110px;
}
div#bo_header div.right{
	float:left;
	width:50%;
	padding-top:100px;
	height:19px;
	font-size:13px;
}
div#bo_header div.right a.logout{
	display:block;
	float:right;
	text-decoration:none;
	margin:0 10px 0 0;
	padding:2px;
	color:#FFF;
	font-weight:900;
}
div#bo_header div.right a.logout:hover {
	background-color:#9c99dd;
}
div#bo_header div.right span.logged{
	display:block;
	float:right;
	color:#FFF;
	padding:2px;
}
div#bo_wrapper {
	width:96%;
	position:relative;
	margin:0px auto;
}
div#bo_float_wrapper {
	width:100%;
	float:left;
	position:relative;
}
div#content_wrapper {
	display:block;
	float:left;
	width:97.8%;
	padding:0 1% 2% 1%;
	margin:10px 0 50px 0;
	border:#d7d7d7 1px solid;
	background-color:#FFF;
	color:#444444;
}
div#content_wrapper div.grey_wrapper,
div#content_wrapper div.grey_wrapper_no_padding {
	display:block;
	float:left;
	width:95.8%;
	margin:10px 0 0 0;
	padding:1% 2%;
	border:#e4e4e4 1px solid;
	background-color:#f6f6f6;
	color:#434343;
}
div#content_wrapper div.grey_wrapper_no_padding {
	width:99.8%;
	margin:10px 0 0 0;
	padding:0;
}
div#content_wrapper div.grey_wrapper a.open_wrapper,
div#content_wrapper div.grey_wrapper a.open_wrapper_close,
div#content_wrapper div.grey_wrapper_no_padding a.open_wrapper,
div#content_wrapper div.grey_wrapper_no_padding a.open_wrapper_close {
	display:block;
	float:right;
	width:11px;
	margin:3px 0 0 10px;
	height:11px;
	cursor:pointer;
	outline:0;
	background:url(../Img/Buttons/arrow_grey.png) no-repeat;
}
div#content_wrapper div.grey_wrapper a.open_wrapper,
div#content_wrapper div.grey_wrapper_no_padding a.open_wrapper,
div#content_wrapper div.grey_wrapper a.open_wrapper_close:hover,
div#content_wrapper div.grey_wrapper_no_padding a.open_wrapper_close:hover {
	background-position:0 -11px;
}
div#content_wrapper div.grey_wrapper a.open_wrapper_close,
div#content_wrapper div.grey_wrapper_no_padding a.open_wrapper_close {
	background-position:0 0px;
}
div#content_wrapper div.grey_wrapper fieldset {
	border:none;
	width:100%;
	float:left;
}
div#content_wrapper div.grey_wrapper fieldset.top_border {
	border-top:#e4e4e4 1px solid;
}
div#content_wrapper div.grey_wrapper fieldset {
	font-weight:100;
	display:block;
	float:left;
	font-size:12px;
	padding:0 0 0 10px;
}
div#content_wrapper div.grey_wrapper fieldset legend {
	font-family:Verdana, Arial, "Franklin Gothic Book", "Tahoma", Helvetica;
}
div#content_wrapper div.grey_wrapper fieldset.top_border legend{
	padding-right:10px;	
}
div#content_wrapper div.grey_wrapper fieldset div.content {
	float:left;
	width:96%;
	margin:10px 2%;
}
div#content_wrapper div.grey_wrapper fieldset div.content div.h_calc{
	float:left;
	width:100%;
}
div#content_wrapper div.grey_wrapper fieldset div.content div#menu {
	float:left;
	width:100%;
}
div#content_wrapper div.grey_wrapper fieldset div.content div#menu div.menu_col {
	float:left;
	width:24%;
}
div#content_wrapper div.grey_wrapper fieldset div.content div#menu div.menu_col ul.float_horizontal li{
	list-style:none;
	display:block;
	float:left;	
	width:100%;
	margin-top:1px;
	padding-right:1%;
}
div#content_wrapper div.grey_wrapper fieldset div.content div#menu div.menu_col ul.float_horizontal li a{
	display:block;
	width:98%;
	padding:1px 1%;
	color:#9b9b9b;
	background:none;
	text-decoration:none;
}
div#content_wrapper div.grey_wrapper fieldset div.content div#menu div.menu_col ul.float_horizontal li a:hover,
div#content_wrapper div.grey_wrapper fieldset div.content div#menu div.menu_col ul.float_horizontal li a.selected{
	color:#FFF;
	font-weight:900;
	background-color:#837fd5;
}
div.input_search {
	float:left;
	width:225px;
	border:#e4e4e4 1px solid;
	padding:5px 20px 5px 5px;
	background:url(../Img/Backgrounds/magnifier.png) no-repeat 235px center #FFF;
}
div.input_search input {
	float:left;
	width:100%;
	border:0;
	background:none;
}
div#content_wrapper div.grey_wrapper fieldset div.row_center {
	width:100%;
	margin-top:5px;
	text-align:center;
}
div#content_wrapper div.grey_wrapper fieldset div.row_center label.label_filter{
	color:#b3b3b3;
	padding-right:10px;
}
div#content_wrapper div.grey_wrapper fieldset div.row_center select.select_filter,
div#content_wrapper div.grey_wrapper fieldset div.row_center input.input_filter {
	padding:3px 2px;
	background-color:#FFF;
	border:#e4e4e4 1px solid;
	color:#b3b3b3;
}
div#content_wrapper div.grey_wrapper fieldset div.row_center a.add_filter {
	color:#606060;
}
ul.listing_actions {
	float:left;
	width:99%;
	padding-left:1%;
	margin-top:5px;
	text-align:left;
}
ul.listing_actions li{
	list-style:none;
	display:block;
	float:left;
	margin-right:10px;
}
ul.listing_actions li a,
ul.listing_actions li span {
	color:#2a5685;
	text-decoration:none;
	padding:3px 9px 3px 24px;
	background-position:4px 3px;
	background-repeat:no-repeat;
}
ul.listing_actions li span {
	color:#9F9F9F;
}
ul.listing_actions li a:hover{
	background-color:#373737;
	color:#FFFFFF;
}
ul.listing_actions li a.add {
	background-image:url(../Img/Buttons/add.png);
}
ul.listing_actions li a.edit,
ul.listing_actions li span.edit {
	background-image:url(../Img/Buttons/pencil.png);
}
ul.listing_actions li a.delete,
ul.listing_actions li span.delete {
	background-image:url(../Img/Buttons/delete.png);
}
table.listing {
	width:100%;
	border-collapse:collapse;
	float:left;
	color:#5c5c5c;
	margin-top:15px;
}
table.listing td,
table.listing th {
	border:#d7d7d7 solid 1px;
	padding:2px 5px;
	text-align:center;
	vertical-align:middle;
}
table.listing th {
	padding:5px 5px;
	background-color:#eeeeee;
	color:#000;
	font-weight:900;
}
table.listing td.check {
	width:20px;
}
table.listing tr td {
	cursor:pointer;
}
table.listing tr.clear td {
	background-color:#FFFFFF;
}
table.listing tr.dark td {
	background-color:#f6f7f8;
}
table.listing tr:hover td,
table.listing tr.selected td {
	background-color:#eeeeee;
	color:#000;
}
div#footer {
	float:left;
	width:100%;
	margin:10px 0 0 0;
}
div#footer div.left{
	float:left;
	width:75%;
	font-size:11px;
}
div#footer div.left a.pager{
	color:#2a5685;
	text-decoration:none;
	padding:0 3px;
}
div#footer div.left span{
	padding:0 3px;
}
div#footer div.right{
	float:left;
	width:20%;
	margin:0 0 0 5%;
}
div#footer div.right div.select_export {
	display:block;
	float:right;
	width:200px;
	overflow:hidden;
	height:25px;
	cursor:pointer;
}
div#footer div.right div.select_export select {
	width:200px;
	height:25px;
}
ul.langs {
	float:left;
	width:15%;
	padding:10px 3px 0 0;
}
ul.langs li {
	list-style:none;
	display:block;
	float:left;
	width:100%;
}
ul.langs li a{
	display:block;
	padding:3px 5%;
	text-align:left;
	background:none;
	color:#858585;
	text-decoration:none;
}
ul.langs li a:hover, 
ul.langs li a.selected {
	color:#FFFFFF;
	text-align:right;
	background-color:#9a97dc;
	background-position:center left;
	background-repeat:no-repeat;
}
ul.langs li a:hover {
	background-image:url(../Img/Backgrounds/arrow_langs.png);
}	
div.edit_form {
	float:left;
	width:65%;
	padding:10px 0 10px 25px;
	border-left:#e4e4e4 solid 1px;
}
div.edit_form div.row {
	width:600px;
	float:left;
	margin:10px 0 0 0; 
}
div.edit_form div.row label,
div.edit_form div.row span.label {
	display:block;
	width:150px;
	float:left;
	padding-top:6px;
	text-align:right;
}
div.edit_form div.row input.text,
div.edit_form div.row span.warn,
div.edit_form div.row select,
div.edit_form div.row textarea,
div.edit_form div.row div.radios {
	display:block;
	float:left;
	width:220px;
	padding:5px;
	background-color:#FFF;
	border:#e4e4e4 solid 1px;
	margin:0 0 0 20px;
}
div.edit_form div.row select.mceSelectList {
	width:100px;
	margin:0;
	padding:0;
}
div.edit_form div.row div.radios,
div.edit_form div.row span.warn {
	width:260px;
}
div.edit_form div.row div.radios div {
	float:left;
	width:120px;
}
div.edit_form div.row span.warn {
	background:none;
	padding:0;
	text-align:right;
	font-style:italic;
	color:#808080;
	font-size:10px;
	border:0;
}
div.edit_form div.row div.radios {
	padding:0;
	background:none;
	border:none;
}
div.edit_form div.row div.radios label.radio {
	margin:0 20px 0 5px;
	width:auto;
	float:none;
	display:inline;
}
 div.edit_form div.row textarea {
	 width:400px;
	 height:100px;
 }
div.form_validator {
 	float:left;
 	margin:20px 0 0 35%;
}
div.form_validator div.login_submit{
	margin-left:30px;
	float:right;
}
/* SELECT */
div.select_overflow_container {
	display:none;
	position:absolute;
	z-index:10;
	padding-bottom:10px;
}
div.select_overflow {
	float:left;
	width:100%;
	overflow:hidden;
	background-color:#373737;
}
div.select_overflow ul{
	display:block;
	overflow:hidden;
	float:left;
}
div.select_overflow ul li {
	display:block;
	float:left;
	list-style:none;
	width:100%;
	padding:2px 0;
}
div.select_overflow ul li a.option_style, 
div.select_overflow ul li a.option_style_hover, 
div.select_overflow ul li span {
	display:block;
	width:90%;
	background:none;
	font-size:0.8em;
	margin:2px 2%;
	padding:0 3%;
	cursor:pointer;
	text-decoration:none;
	text-transform:uppercase;
}
div.select_overflow ul li a.option_style {
	color:#FFFFFF;
}
div.select_overflow ul li span {
	padding-top:1px;
}
div.select_overflow ul li span input.check {
	display:block;
	float:left;
	cursor:pointer;
}
div.select_overflow ul li span label {
	color:#FFFFFF;
	cursor:pointer;
}
div.select_overflow ul li span.option_style_hover label {
	background-color:#827ed2;
}
div.select_overflow div.scroll_content {
	display:block;
	float:left;
	width:15px;
	/*background:url(../Img/Backgrounds/scroll_content.png) repeat-y top left #393939;*/
}
div.select_overflow div.scroll_content div.scroll_handle {
	display:block;
	height:40px;
	width:15px;
	cursor:pointer;
	/*background:url(../Img/Backgrounds/scroll_handle.png) no-repeat top center;*/
}
div.select_overflow ul li a.option_style_hover {
	background-color:#827ed2;
	color:#FFFFFF;
}
div.select_content span.select_text  {
	display:block;
	float:left;
	width:180px;
	margin:0;
	border:0;
	padding:3px 20px 0 0;
	font-family:Verdana, "Trebuchet MS", Arial;
	color:#405260;
	text-align:right;
	font-style:italic;
	font-size:0.9em;
	background:url(../Img/Buttons/arrow_white.png) center right no-repeat;
}
div.select_content span.select_text {
	height:19px;
	overflow:hidden;
}
/* /GENERIC SELECT */
div.select_tips {
	width:150px;
	color:#0BADFF;
}
div.select_tips div.tip-top, 
div.select_tips div.tip-bottom {
	width:100%;
	height:10px;
	background:url(../Img/Backgrounds/tip_top.png) no-repeat top left;
}
div.select_tips_hide div.tip-top, 
div.select_tips div.tip-bottom_hide {
	height:0px;
}
div.select_tips div.tip-bottom {
	background-image:url(../Img/Backgrounds/tip_bottom.png);
}
div.select_tips div.tip {
	/*background:url(../Img/Backgrounds/tip_content.png) repeat top left;*/
	background-color:#000;
	width:130px;
	font-size:0.8em;
	text-align:center;
	padding:0 10px;
}
div.select_tips div.tip ul li {
	list-style:none;
}
/* /SELECT */


/* /LISTING */