body {
	background-repeat: repeat-x;
	margin-top: 0px;
	background-image: url(images/fond.png);
	background-attachment: fixed;
	margin-bottom: 0px;
}/*
h1, h3 {
 font-size: 150%; 
 padding-left: 15px;
 font-family: Calibri, Arial, Helvetica, sans-serif, Tahoma;
 text-align: center;
 }*/
 
td,tr {
 font-family: Calibri, Arial, Helvetica, sans-serif, Tahoma; 
 color: black; 
 
} 
tr {
	height: 70px;
	width:100%;
}  
table {
	width:100%;
	padding:10px,0px;
} 
table#premier td.questions {
	white-space: nowrap;
} 
table#premier td.valeurs label{
	margin-right:10px;
} 
/*tr:hover , td:hover{
	color: white;
	background-color: gray;
	border-width:5px;
	border-color:black;
}*/
h1{
	color: LightSlateGray;
	text-decoration: underline;
}
h3{
	color: #001070;
}

#principale {
	/*margin-right: auto;
	margin-left: auto;
	background-image: url(images/fond.jpg);
	margin-top: auto;
	margin-bottom: 0px;
	height: auto;
	background-repeat: repeat-y;*/
	width: 950px;
	background-color: write;
	opacity: 1;
	
	/* padding */
	/*padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;*/
	padding:10px;
}
.lesquelles {
	 text-align: right;
	 padding-right:15px;
}
.titre {
	 text-decoration: underline;
	 font-weight: bold;	 
}
.valeurs {
	 width:60%;	 
}
.questions {
	text-decoration: underline;
}
#preciser {
	/*display:inline; */
	display:none;
}

#preciser1 {
	display:inline; 
	/*display:none;*/
}
#preciser2 {
	display:inline; 
	/*display:none;*/
}

#preciser1 {
	display:inline; 
	/*display:none;*/
}
#preciser2 {
	display:inline; 
	/*display:none;*/
}

#justifier {
	/*display:inline; */
	display:none;
}

#justifier1 {
	/*display:inline; */
	display:none; 	
}

#justifier2 {
	/*display:inline; */
	display:none; 	
}

#logo{
	width:322px;
	height:133px;
	left: 485px;
	background: url(images/logo.png) ;
}
	